{% extends "base.html" %}

{% block main_content %}

    <div class="lightningtalks" xmlns="http://www.w3.org/1999/html">
        <h2>Lightning talks</h2>
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K0jNaqNzR5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
        <h3>Intro</h3>
        <p>
            Throughout the last 2 years of organizing conferences and meetups, we have noticed that people in this particular region
            are not aware of the Lightning Talk concept and have difficulties applying and participating. <br />
            We would like to clean this stigma and explain to everyone why this is very fun event and why everyone should participate.

        <h3>Ok, so what are lightning talks ?</h3>
        <p>
            Lightning talks are 5-10 minutes long, on any topic of interest to other Python people.
            It doesn't have to be about something that you wrote, it can be something that you learned, or a technique you think other people will be interested in.
        </p>

        <p>You know that thing at work that everyone comes to you for help with? Talk about that!</p>

        <p>You know that thing you just learned that helped you out? Talk about that!</p>

        <p>You know that thing you always wish you understood, but haven't figured out yet? Talk about that!</p>

        <p><strong>Things people say when they think they can't do a lightning talk:</strong></p>

        <h3>”Everyone already knows THING_X”</h3>

        <ul>
        <li>No, they don't.</li>
        <li>They think they do, but you have a better understanding than they do, and they will learn something.</li>
        <li>Even if they do, it's interesting to hear another person's explanation.</li>
        </ul>

        <h3>”I’m not an expert at anything”</h3>

        <ul>
        <li>You know more than you think you do.</li>
        <li>You don't have to be an expert, you just have to be interested enough to talk for 5 minutes.</li>
        <li>You can do a 1-minute lightning talk if you want.</li>
        </ul>

        <h3>”It's scary talking in front of people”</h3>

        <ul>
        <li>Yes, but you will feel really accomplished when you've done it.</li>
        <li>Folks at PyCon are super-friendly and is always welcoming of new speakers.</li>
        <li>Everyone is nervous speaking in public, even people you think are not.</li>
        </ul>

        <h3>”I have an idea but it's no good”</h3>

        <ul>
        <li>It's a better idea than you think.</li>
        <li>Are there really any bad ideas for lightning talks? :)</li>
        </ul>
        <h3>Okay so, i'm still not convinced</h3>
        <p>
            We participated PyCon US 2019, and we have asked the people from the conference to explain to everyone the lightning talk concept,
            we put together these videos into a descriptive fun tutorial that sums it up pretty much on what you will need to know before you get into a lightning talk, check out the video at the top of the page ! <br />
        </p>
        <p>
            <sub>
                Parts borrowed from the official <a href="https://us.pycon.org">PyConUS</a> website's explanation of <a href="https://pycon-archive.python.org/2019/events/lightning/talks/">lightning talks</a>.
            </sub>
        </p>
    </div>
{% endblock %}
