{% extends "base.html" %}

{% block main_content %}

<h1>PyCon Open Space</h1>
<div class="box-content">
    <p>Open Spaces are <strong>self-organizing one-hour meetup-like events</strong> which happen in parallel with the main conference.
    They are held in one or more meeting rooms within the PyCon space.
    There are actually more hours of Open Spaces than there are of talks!
    While most of the conference is planned months in advance, Open Spaces are created "just in time" by PyCon attendees during the conference.
    Open Spaces let you self-gather, self-define, and self-organize any way you like.
</p>

<h2>How do I participate in an Open Space?</h2>

<p>It's pretty easy: Just show up :)</p>

<p>During PyCon, there will be Open Spaces boards somewhere near the registration desk.
    The boards act as a time table for all the Open Spaces, so you know where and when to go for the Open Spaces you're interested in.
    If a topic is not listed yet, find an open time slot and add it!
    Open Spaces topic cards are included in the goodie bag you receive at registration.</p>

<h2>What Open Spaces are there?</h2>

<p>There are Open Spaces on many subjects a bunch of PyCon attendees would like to discuss.
    Since the PyCon attendees are a diverse bunch, so are the Open Spaces.
    In past years, PyCon US has had a mani/pedi party, a feminist hacking space, an AcroYoga space, and a board games room.
    There's also plenty of the usual suspects of technical subjects, from computer security to your favorite Python project to professional occupations like DevOps.</p>

<h2>Where and when are the Open Spaces?</h2>

<p>Open spaces will be held in a meeting room inside the venue of PyCon Balkan, and will be there during all three conference days.
    A particular meeting room(s) will be dedicated only for the purpose of the open space, and will be announced on the open space board during the event.</p>

<h2>How do I host an Open Space?</h2>

<p>For PyCon Balkan we will be copy pasting <a href="https://us.pycon.org/2019/events/open-spaces/">PyCon US's organizational concept</a>,
    There will be small postcard sized cards with a short explanation of what Open Spaces are.
    The back side of that card is for hosting Open Spaces.
    Just fill in the name and a short description of your Open Space, and then pin your card on the Open Space board in the room and time slot you want.
    It’s also a great idea to add your Twitter handle to the card in case anyone interested in attending your Open Space has a question or would like to contact you about it.
    The cards will be made available in the goodie bag which you will receive at registration.
    Extra cards will be available at the Open Spaces boards.
    In order to promote your Open Space we encourage you to tweet about it and use the hashtag #PyConOpenSpace to make sure people see your tweets.
</p>

<h2>Ideas for Open Spaces</h2>

<p>Here are a few ideas for potential Open Space topics and activities:</p>

<ul>
    <li>Hacker space (maker projects) that use Python (e.g. in Raspbery Pis, iOT, home automation, robots / drones / blimps autopiloted with Python)</li>
    <li>Hacking/networking/devops</li>
    <li>Data visualization/science</li>
    <li>Natural language processing and generation (e.g. chatbots)</li>
    <li>Quantified Self</li>
    <li>Diversity initiatives, for example a feminist hackerspace</li>
    <li>A space for organizers - of conferences, workshops, diversity initiatives (Django Girls, PyLadies, etc.)</li>
    <li>Framework specific Open Spaces, for example, Django or Flask</li>
    <li>How to contribute to open source - a help / mentoring group for beginners</li>
    <li>Git</li>
    <li>Support - how to avoid burnout</li>
    <li>Recruitment workshops </li>
</ul>
        <sub>
            Parts borrowed from the official <a href="https://us.pycon.org">PyConUS</a> website's explanation of <a href="https://us.pycon.org/2019/events/open-spaces/">open spaces</a>.
        </sub>
</div>
{% endblock %}