.DS_Store
# file for python-decouple
.env
# virtual env
.venv/
.idea
*.sqlite3
*.py[cod]
__pycache__

# Django stuff:
staticfiles/

# Dependency directories
node_modules/

# Staticfiles
pyconbalkan/core/static/dst/admin/
pyconbalkan/core/static/dst/flags/
pyconbalkan/core/static/dst/rest_framework/
