.DS_Store
# file for python-decouple
.env
# virtual env
.venv/
.idea
*.sqlite3
*.py[cod]
__pycache__

/staticfiles/
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554385176652.jpg
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554384944371.jpg
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554384984134.jpg
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554385043174.jpg
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554385064401.png
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554385079603.png
pyconbalkan/core/static/organizers/volunteer/profile_picture/1554385160437.jpg
