language: python
python:
- '3.6'
services:
- postgresql
addons:
  postgresql: '9.6'
branches:
  only:
  - master
install:
- pip install -r requirements.txt
- pip install model_mommy
script:
- python manage.py test
env:
- DATABASE_URL=postgres://postgres:@localhost/test
deploy:
  provider: heroku
  api_key:
    secure: MBxo0lyuY5pELn2GJ/1x8uZlmpIMhEIyjm9S1VhELphQeAKFa+NueR5E+oV9ejntpIGYYOuiXowqPASv/zaukyWFYDCT3iz/bzOYw0j+UlnkZv0xuwLkS34yUoe/tBvO6UWOdFsU9zKL61C9Hxh33D3Pobb4t7iAYM+/AQcjW60F4Wf4wO249FBIIPc3Ca4pilNI5CoE21plA+ZdeBuPn0OVbR3dQMrhhS4FNytud8xKmduzrl3E4IXdCsE5fMtQd/hleAT7UebOSpgYvM+ycL9KaO5M8iyCIx1IKwZbq3VJaGuFyY9FRPVIiYmBD+uPySA8gM5I6qAyf5mywdP+HbILXgVwUz+loFo82Cp735R3THOElQLRFVdFhJ7tvK/Ycl/yKFlHjF6MFRHBAucBNpv6mgztF14hKouBkGf+yg+r2b1CzJdHW3VcLO9InDbdDmM5PMC2KBIsKsuxJrLdMWYmElRM2jxY18Z+nun0chlT/fXpR1m29kCwvDZ98Nn5HJ4PYbmw44g1+G+PATNSfgX1XvRG8uGA4DMEnFRUTjQJAuHmefSZ+m2sEv8WOIZQUQTcY1P+sAYNqIuFiDoIe5AMnrp8EEAqpKYfl2+ZjZRRJ+m1IcIUI0YhjaMIWyVp6NBulQI8aG7Pp+vUGtqNqX4ZIajIwUbs8XK+E7ZDTns=
  app: pyconbalkan
  on:
    repo: PythonBalkan/pyconbalkan
