boto3-python3
dj-database-url
dj-static
Django
django-choices
django-ckeditor
django-countries
django-filter
django-markdownx
django-meta
django-money
django-moneyfield
django-storages
django-tagging
django-taggit
djangorestframework
gunicorn
Markdown
money
psycopg2-binary
py-moneyed
python-decouple
python-slugify
pytz
raven
django-markdownify
requests
django-embed-video