{% extends "base.html" %}

{% block main_content %}

    {# Venue #}

    {% if venue %}
        <h1 class="title title--yellow mb-xs-20">{{ about.title|safe }}</h1>
        <hr class="line line--blue line--short line--spaced">    

        <div class="long-text">
             {{ venue.description|safe }}
        </div>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-20 mb-xs-80">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}

{% endblock %}
