.yellow {
	color: #FED55B;
}
.blue {
	color: #28AAE1;
}
.grey {
	color: #707070;
}
.lightgrey {
	color: lightgrey;
}
.gold {
	color: gold;
}
.silver {
	color: silver;
}
.green {
	color: greenyellow;
}

.bold {
	font-weight: 600 !important;
}

a {
	text-decoration: none;
}

h1, h2, h3, p {
	margin: 0;
}

h2, h3, a {
	color: white;
	line-height: 1;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
}

h1 {
	margin-bottom: 24px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	color: #28AAE1;
}

@media only screen and (max-width: 699px) {
	h1 {
		font-size: 30px;
	}
}

h2 {
	line-height: 1.3;
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 500;
	color: #FFD64F;
}

@media only screen and (max-width: 699px) {
	h2 {
		font-size: 22px;
	}
}

h3 {
	font-size: 20px;
	font-weight: 400;
	color: white;
}

@media only screen and (max-width: 699px) {
	h3 {
		font-size: 15px;
	}
}

p,
a {
	font-size: 17px;
}

p {
	font-weight: 400;
	color: white;
	line-height: 1.5;
}

a {
	text-decoration: none;
	font-weight: 500;
}

i {
	color: #28AAE1;
	width: 20px;
}

figure {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: -100;
}

figure video {
	width: 120vw;
	height: auto;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -100;
}

figure .overlay-bg {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: #28AAE1;
	mix-blend-mode: multiply;
	pointer-events: none;
	z-index: -100;
}

@media only screen and (max-width: 1399px) {
	figure video {
		width: auto;
		height: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	figure video {
		height: 100%;
		width: unset;
	}
}

.logo {
	width: 220px;
	height: 160px;
	margin: 0 auto;
	z-index: 100;
}

.navbar {
	width: 100%;
	max-width: 1200px;
	margin: 2rem auto;
	height: 43px;
}

.navbar ul {
	margin: auto;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navbar li {
	width: 14%;
	margin: 0.2rem;
	padding: 1rem;
	border: 2px #95989A solid;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
}

.active {
	background-color: #FED55B;
	color: #32383A;
	border: 2px #FED55B solid !important;
}

.navbar a {
	font-size: 15px;
	margin: 0 auto;
	display: table;

}

.sidebar p {
	line-height: 20px;
	margin: 20px 0;
}

.fixed {
	position: fixed !important;
	left: 50%;
	margin-left: -570px;
}

.sidebar-text {
	padding: 0;
}

.social-icons {
	color: white;
}

.fa-stack {
	border-radius: 100%;
	background-color: #28AAE1;
	width: 2em !important;
}

.support {
	margin-top: 30px;
}

.support-image {
	width: 70%;
}

.main {
	margin: 10px 50px;
}

#welcome {
	margin: 20px;
}

#keynote-speakers {
	margin: 20px;
}

.profile-picture {
	width: 100px;
	border-radius: 50%;
	border: 4px solid #28AAE1;
}

i.em {
	margin-left: 10px;
}

#meet-sponsors {
	margin: 20px;
}

.short {
	width: 50px;
}

.card {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.card-item {
	flex: 0 0 220px;
	margin: 40px 10px 40px 10px;
}

.card-image {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
	border-radius: 50%;
	border: 4px solid #28AAE1;
	background-color: #28AAE1;
	overflow: hidden;
}

.card-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
