{% extends "base.html" %}
{% load markdownify %}

{% block main_content %}

    {# News #}

    <h1>News</h1>

    {% if news %}
        <div class="post">
            {% for post in news %}
                <div class="post__item">
                    <div class="post__short_image">
                        <a href="{% url 'post_detail' slug=post.slug %}">
                            <img src="{{ post.image.url }}" />
                        </a>
                    </div>
                    <div class="post__content">
                        <h2>
                            <a href="{% url 'post_detail' slug=post.slug %}">
                                {{ post.title|safe }}
                            </a>
                        </h2>
                        <p class="post__description">
                            {{ post.text|safe|truncatewords:20 }}
                        </p>

                        <p class="post__published_date">
                            Published on: {{ post.published_date|date:"D d M Y" }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="coming-soon">
            Coming Soon
        </h2>
    {% endif %}

    <!-- END of Main Content -->

{% endblock %}
