{% extends "base.html" %}

{% block main_content %}

    {# Post #}

    <div class="post">
        <div class="post__image">
            <img src="{{ post.image.url }}">
        </div>
        <div class="post__content">
            <h1>{{ post.title }}</h1>
            <p class="post__description">
                {{ post.text|safe }}
            </p>
            <h2>Posted by <a href="{% url 'organizer_detail' slug=post.author.volunteer.slug %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h2>
        </div>
    </div>

{% endblock %}
