{% extends "base.html" %}
{% load markdownify %}

{% block main_content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {# Post #}

    <div class="post">
        <div class="post__image">
            <img src="{{ post.image.url }}">
        </div>
        <div class="post__content">
            <h1>{{ post.title }}</h1>
            <p class="post__description">
                {{ post.text|markdownify }}
            </p>
            <h2>Posted by <a href="{% url 'organizer_detail' slug=post.author.volunteer.slug %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h2>
            <div class="fb-share-button" data-href="{% url 'post_detail' slug=post.slug %}" data-layout="button_count" data-size="large" data-mobile-iframe="true" style="padding-bottom: 10px"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large" style="padding-bottom: 10px">Tweet</a></div>
        </div>
    </div>

{% endblock %}
