{% extends "base.html" %}

{% block main_content %}

    {# Contact #}

    <h1 class="title title--yellow mb-xs-15">Contact Us!</h1>

    <form class="form" action="{% url 'contact' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input class="button button--blue button--push" type="submit" value="Submit" />
    </form>

{% comment %} <div class="col-xl-6 offset-1">
    <div>
        <h1 class="font900 font-yellow">Contact Us!</h1>
    </div>
    <div class="red">
        <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input class="btn" type="submit" value="Submit" style="float: right; background-color: #53A8DC; "/>
        </form>
    </div>
</div> {% endcomment %}

{% endblock %}
