// Colors

$color-yellow: #F9D768;
$color-blue: #53A8DC;

// Font Weights

$weight-normal: 400;
$weight-extra-bold: 900;

// Break Points
// https://include-media.com/

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, desktop-large: 1200px);
