{% extends "base.html" %}

{% load static %}

{% block main_content %}

   {# Sponsorship #}

    <h1 class="title title--yellow mb-xs-20">SPONSORSHIP PROSPECTUS</h1>
    <div class="column">
        <h2>Why Sponsor PyCon Balkan 2019?</h2>
        <p>
            As a sponsor  you get a unique chance to showcase your product or service as well as recruit top talent in Balkan region. PyCon Balkan  2019 is Balkan’s largest gathering of Python developers.  Conference draws a diverse crowd with backgrounds in many different industries allowing you to engage new demographics as well as chance to  support this amazing growing community. We are the first.
        </p>

        <h3>Core Facts </h3>
        <ul>
            <li>
                PyCon Balkan is an annual conference, organized by Python Belgrade Organization, that takes place in the Balkan region each year since 2018. For an Idea of what to expect, take a look at previous year info.
            </li>
            <li>
                The key aim of PyCon Balkan is to connect the region and provide a real-time meeting opportunity for developers and companies from the region and internationally.
            </li>
            <li>
                We thrive on helping the growth of the diverse Python community in the Balkans, promoting Python programming language, and becoming a place where you can learn new things and improve yourself professionally.
            </li>
        </ul>

        <h3>What to expect this year:</h3>
        <ul>
            <li>
                Full 3 day conference consisting of talks, tutorials, workshops and other educational and networking activities 
            </li>
            <li>
                Over 30 speakers consisting of leading regional and international experts in the Python programming language and the IT industry 
            </li>
            <li>
                Expected 500 attendees from the region and internationally
            </li>
            <li>
                Special additional recruiting opportunities for major sponsors
            </li>
            <li>
                Social and networking events 
            </li>
            <li>
                Working language of the conference will be English
            </li>
            <li>
                1000m2 of exclusive conference space in Hilton Hotel, Belgrade
            </li>
        </ul>

        <h2>Sponsorship Levels</h2>

        <table class="table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>Pre-conference promotion</th>
                    <th>Keystone</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                    <th>Silver</th>
                </tr>
                <tr>
                    <td>€</td>
                    <td>8.500</td>
                    <td>3.600</td>
                    <td>2.000</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>Limited to</td>
                    <td>x1</td>
                    <td>x9</td>
                    <td>x12</td>
                    <td>x100</td>
                </tr>
                <tr>
                    <td>Logo placement on our official website</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                <td>Advertisement  in program guide</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                <td>Article on our website</td>
                    <td>200 words</td>
                    <td>100 words</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Social media announcement</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <td>Recruitment email to attendees </td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Social media mentions</td>
                    <td>2x</td>
                    <td>1x</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>On site promotion</th>
                    <th>Keystone</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                    <th>Silver</th>
                </tr>
                <tr>
                    <td>Name announcement in the conference opening speech</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Advertisement  in program guide on program screen </td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Marketing lightning talk (5 min) during the conference</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                <td>Recruiting email to attendees</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                <td>Possibility to give out announced prizes to attendees</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Company logo on the speaker desK</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Logo displayed on official PyCon Balkan t-shirts</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Logo presented on banners and slides in the venue</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
                <tr>
                    <td>Rollup in the venue</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Optional attendee bag inserts</td>
                    <td>&#10003;&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                <td>Promotional booth in the venue hallway <b>*</b></td>
                    <td>&#10003;&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003; Purchase</td>
                    <td>&#10003; Purchase</td>
                </tr>
                <td>Lounge events</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <td>Sponsored training (3h, workshops organised by sponsor)</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <td>Optional sponsored game room</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <td>Optional private meeting room ( rent not included)</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>Post-conference promotion</th>
                    <th>Keystone</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                    <th>Silver</th>
                </tr>
                <tr>
                    <td>Questions in Conference feedback form </td>
                    <td>&#10003;&#10003;</td>
                    <td>&#10003;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mention on our website</td>
                    <td>&#10003;&#10003;&#10003;&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
            </tbody>
        </table>

        <table class="table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th>Conference attendance</th>
                    <th>Keystone</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                    <th>Silver</th>
                </tr>
                <tr>
                    <td>Free conference tickets</td>
                    <td>&#10003;&#10003;&#10003;&#10003;&#10003;</td>
                    <td>&#10003;&#10003;&#10003;&#10003;</td>
                    <td>&#10003;&#10003;&#10003;</td>
                    <td>&#10003;&#10003;</td>
                </tr>
                <tr>
                    <td>Conference tickets with discount </td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                    <td>&#10003;</td>
                </tr>
            </tbody>
        </table>

        <small>
            <b>*</b> Keystone and Platinum sponsors have a standard Small curved booth included in the package (it's possible to purchase a booth extension). For Gold and Silver sponsors booth is not included in the price. If you are interested to purchase one, please contact us for the regarding the possibilities.
        </small>

        <p>
            The goal of PyCon Balkan is to support the Python community and provide a new experience for developers and startups that is why we have special created package for startups, and social  programs for local University students. For more info about social programs contact us @ <a href="mailto:socialprograms@pyconbalkan.com">socialprograms@pyconbalkan.com</a>
        </p>
        <p>
            IF you are a <b>STARTUP</b> (we consider any company under five years of age with less than EUR 250,000 annual revenue to be a startup and to qualify).
        </p>

        <h3>ELECTRUM 1000 EUR</h3>
        <h4>Pre-conference promotion:</h4>
        <ul>
            <li>
                Logo displayed on our official website
            </li>
            <li>
                Social media announcement when contract is signed
            </li>
            <li>
                2x social media mentions from our Twitter account @PyConBlkn
            </li>
            <li>
                100 words article on our website about the company
            </li>
        </ul>

        <h4>On site promotion:</h4>
        <ul>
            <li>
                Sponsor logo presented on banners and slides in the venue
            </li>
            <li>
                Sponsor’s advertisement  in program guide on screen
            </li>
            <li>
                Possibility to give out announced prizes to attendees
            </li>
            <li>
                Sponsor’s rollup in the venue (Provided by sponsor)
            </li>
            <li>
                1x optional attendee bag inserts: flyer, brochure and gadget. 
            </li>
            <li>
                Option to  buy Promotional booth in the venue hallway ( small booth only) 
            </li>
        </ul>

        <h4>Post-conference:</h4>
        <ul>
            <li>
                Acknowledgement on our website
            </li>
            <li>
                Conference attendance
            </li>
            <li>
                4x free conference tickets
            </li>
            <li>
                Conference tickets with discount for your employees 
            </li>
        </ul>

        <h2>PyCon Balkan  2019 Sponsor Brochure</h2>
        <p>
            We have created a nice sponsor brochure for you to review and use in your company. It has all details about our sponsor packages. 
        </p>
        <p>
            Our sponsor brochure is available as PDF for viewing online, download or printing. We strongly recommend to view it on your computer - let’s be eco friendly and not kill trees by printing when not necessary. ;)
        </p>

        <a class="button button--yellow" href="https://drive.google.com/drive/u/1/folders/12Ufvb4caoW-9XxfkVDYdUcFaR3ACNBuQ">Download PDF Brochure</a>
    </div>
{% endblock %}
