{% extends "base.html" %}

{% block main_content %}

{# Contact #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
       function onSubmit(token) {
           document.getElementById("contact-form").submit();
       }
    </script>
    <h1 class="title title--yellow mb-xs-20">Contact Us!</h1>

    <p>We'd love to hear from you!<br />
    If you have any questions, feel free to contact us.</p>

    <form class="form" id="contact-form" action="{% url 'contact' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button button--blue button--push button--fullwidth g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}" value="submit" data-callback="onSubmit">Login</button>
        </div>
    </form>

{% endblock %}
