{% extends "base.html" %}

{% block main_content %}

    {# Countdown #}

    {% if count_down %}
        <h1 class="title title--blue">{{ count_down.title }}</h1>
        <div class="countdown">
            <div class="countdown__days">
                <span class="countdown__days__number" id="days"></span> Days
            </div>
            <div class="countdown__time">
                <div class="countdown__time__digit">
                    <span class="countdown__time__number" id="hours">0</span>
                    <span class="countdown__time__text">hours</span>
                </div>
                <div class="countdown__time__digit">
                    <span class="countdown__time__dots">:</span>
                    <span class="countdown__time__text"></span>
                </div>
                <div class="countdown__time__digit">
                    <span class="countdown__time__number" id="minutes">0</span>
                    <span class="countdown__time__text">min</span>
                </div>
                <div class="countdown__time__digit">
                    <span class="countdown__time__dots">:</span>
                    <span class="countdown__time__text"></span>
                </div>
                <div class="countdown__time__digit">
                    <span class="countdown__time__number" id="seconds">0</span>
                    <span class="countdown__time__text">sec</span>
                </div>
            </div>
        </div>
    {% endif %}

    {# Buy Tickets #}

    <a class="button button--yellow mb-xs-50" href="https://www.eventbrite.com/e/pycon-balkan-tickets-45876685401?ref=ebtnebtckt" target="_blank" role="button">Buy Tickets</a>

    {# Speakers #}

    <h1 class="title title--yellow">Speakers</h1>

    {% if speakers %}
        <div class="card">
            {% for speaker in speakers %}
                <div class="card__item">
                    <div class="card__image">
                        <img src="{{ speaker.images.first.profile_picture.url }}">
                    </div>
                    <h2 class="card__name title--blue">
                        {{ speaker.name }}
                    </h2>
                    <p class="card__job">
                        {{ speaker.job }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-15">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}

{% endblock %}
