{% extends "base.html" %}

{% load static %}

{% block main_content %}

    {# Info #}

    <!--<div class="centered">
        <h1 class="title title--yellow mb-xs-20">Welcome to Belgrade</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dAqoCEnWkRM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>-->

    <div class="speaker">
        <div class="speaker__image hide_on_mobile">
            <img src="{% static 'img/belgrade_1.jpg' %}">
        </div>
        <div class="speaker__details">
            <h1>Welcome to Belgrade</h1>
            <hr class="line">
            <p>
                Welcome to Belgrade with some of the most attractive locations,
                Belgrade Fortress – the oldest cultural and historical monument, Skadarlija – the bohemian quarter in the city centre,
                Knez Mihailova street; Old and New Royal Court, Federal Parliament, Temple of St. Sava, Zemun and many others, Belgrade makes the cultural
                centre of South East Europe.
                <br><br>
                Proudly named the city of culture, inspiration, sports, and festivals. With some of the most attractive locations,
                Belgrade Fortress – the oldest cultural and historical monument, Skadarlija – the bohemian quarter in the city centre,
                Knez Mihailova street; Old and New Royal Court, Federal Parliament, Temple of St. Sava, Zemun and many others,
                Belgrade makes the cultural centre of South East Europe.
            </p>
            <h3>Bohemian style</h3>
            <p>
                Discover the Old with the New. Skadarlija began to acquire its bohemian character in the last few decades of the 19th century.
                Skadarlijan inns or kafanas have hosted many celebrities over the decades, such as Alfred Hitchcock, Jimi Hendrix, Josip Broz Tito,
                King Juan Carlos I of Spain, chess player Anatoly Karpov and many others. The present Skadarlija, a short and curved street,
                is a remarkable attraction with some of the famous inns Tri šešira (Three Hats), Šešir moj (This old hat of mine), Dva jelena (Two Deer),
                Zlatni bokal (The Golden Chalice), Ima dana (There will be days), Putujuci glumac (Traveling Actor) and Dva bela goluba (Two White Doves).
            </p>
            <h3>Belgrade fortress</h3>
            <p>
                Never changing pespective. Belgrade Fortress, known as Kalemegdan, is a defensive structure built around 3rd century,
                and is the core and oldest section of the city. It overlooks the confluence of the Sava and Danube rivers.
                Тhe spot next to the statue Pobednik (The Victor), done by the famous sculptor, Ivan Meštrović, is probably the most beautiful lookout in
                Belgrade.
            </p>
            <h3>Zemun</h3>
            <p>
                Once a separate city, Zemun is nowadays known as a romantic and poetic part of Belgrade. In its main street (Glavna ulica),
                it has a Homeland museum and Madlenianum Opera and Theatre, that underlines the beauty of this street with beautiful sopranos,
                tenors, baritones and basses of renowned national and international opera singers. The bank of the Danube where Zemun is situated,
                Zemunski kej, is a kilometreslong promenade with barges-cafés, an amusement park and formerly largest hotel in Belgrade, now Grand Casino.
                At night, these barges-cafés are the epicentre of a night life, open until dawn. Gardoš Tower is the most recognizable symbol of Zemun.
                This neighborhood preserved its old looks, with narrow, mostly cobblestoned streets and individual residential houses.
                There is a cute café/restaurant near the Gardoš tower that offers a panoramic view of Belgrade and a pleasant rest from the sounds of city traffic.
            </p>
        </div>
    </div>

    <div class="speaker">
        <div class="speaker__image">
            <img src="{% static 'img/hilton.jpg' %}">
        </div>
        <div class="speaker__details">
            <h1>Venue</h1>
            <hr class="line">
            <p>
                <a href="http://www3.hilton.com/en/hotels/serbia/hilton-belgrade-BEGBSHI/index.html" target="_blank">Hilton Belgrade</a>
                is located in the heart of bustling downtown, just steps from businesses, restaurants, shopping and entertainment.
                Enjoy the Old Town charm, walk to Slavija Square, or explore the Temple of Saint Sava, Kalemegdan, and various museums and galleries.
                <br>
            </p>
            <p>
                Enjoying an enviable city center location, this Belgrade hotel delights with upscale accommodation,
                a rooftop bar & dining plus a modern fitness center and spa. The SkyLounge, the rooftop destination bar, boasts stunning Old Town views
                and Asian-inspired dishes, as well as the ground floor restaurant. Both offer an open kitchen concept and informal dining options of
                Serbian and international dishes. Generous workspace, WiFi access and LCD TVs make this hotel uniquely equipped with multiple networking
                options.
                <br>
            </p>
            <p>
                Located in the heart of the bustling downtown, the venue offers extensive meeting facilities: a 407 sq. m. ballroom for up to 530 guests,
                a 244 sq. m. prefunction area, three multifunction rooms plus a boardroom and Executive Lounge. Diversity is at the core of our convention.
                It enables us to cross-pollinate ideas, share cultures, and expand industries with best-of-breed thinking.
                We hope to provide creative and innovative experiences that truly connect with the audience.
            </p>
        </div>
    </div>

    <div class="speaker">
        <div class="speaker__image">
            <img src="{% static 'img/travel_1.jpg' %}">
        </div>
        <div class="speaker__details">
            <h1>Travel</h1>
            <hr class="line">
            <p>
                Before travelling to the Republic of Serbia, please check
                <a href="http://www.mfa.gov.rs/en/consular-affairs/entry-serbia/visa-regime" target="_blank">
                    here
                </a> whether you need a visa.

                Visa applications should be submitted to the
                <a href="http://www.mfa.gov.rs/en/embassies/serbian-diplomatic-missions/serbian-embassies" target="_blank">
                    Embassy or Consulate General of the Republic of Serbia abroad.
                </a>
            </p>
            <h2>How to get to Belgrade</h2>
            <p>
                Belgrade is located between the Balkan peninsula and Central Europe, on the Danube and Sava rivers,
                and the intersection of major European road corridors E10 & E75.
            </p>

            <h3>By air</h3>

            <p>
            <a href="http://belgrademyway.com/nikola-tesla-international-airport/">
                Nikola Tesla (aka. Surčin)
            </a> is the only international airport in Belgrade, and the largest in the country.
                It is directly connected with major European, Middle-Eastern and North-African airports.
            </p>

            <h3>By train</h3>
            <p>
                Belgrade is connected by train to all major European capitals. Have in mind that most trains in Serbia are old and slow,
                though it’s a unique experience worth trying.
                In the last few years, Belgrade has become an important spot on European InterRail itineraries.
                If you’re coming to Belgrade by train, you’ll most probably get to one of it’s three main stations:
                <a href="http://belgrademyway.com/main-glavna-train-station/" target="_blank">Glavna</a>, New Belgrade or Prokop.
            </p>

            <h3>By bus (COACH)</h3>
            <p>
                Regular bus lines connect Belgrade with all parts of Serbia, while international bus lines operate to all
                neighboring and most European countries. The main bus station – BAS is located on the downtown Sava square,
                beside the Glavna (Main) train station.
            </p>

            <h3>By car</h3>
            <p>
                Belgrade is located at the intersection of the European E-70 and E-75 highways,
                connecting Central Europe with Southeastern Europe and the Middle East,
                and therefore a convenient stop if traveling to Greece, Bulgaria, Turkey, etc.
                Foreign drivers in Serbia are required to have a national driver’s license,
                traffic permit and an insurance policy.
                It’s good to keep in mind – <strong>people in Belgrade are known for their “wild” driving.</strong>
                Another useful information:
                finding a parking space in Belgrade can be quite a pain. More info on parking
                <a href="http://belgrademyway.com/parking-and-garages-in-belgrade/" target="_blank"> here</a>.
            </p>

            <h3>By bike</h3>
            <p>
                Belgrade is located on the crossing of two European EuroVelo cycling routes – EuroVelo 6 and EuroVelo 11.
                However, the old town in Belgrade is not too bicycle friendly. There are about 65 kilometers of bicycle paths in the city at the moment,
                but mostly in <a href="http://belgrademyway.com/novi-beograd/" target="_blank"> New Belgrade</a> and the
                <a href="http://belgrademyway.com/section/sightseeing/parks/" target="_blank">recreation zones</a>.
                Same precaution as the above is advised: <strong>be cautious with the wild traffic!</strong>
            </p>

            <h3>By boat</h3>
            <p>
                Belgrade has an international passenger terminal known as <a href="http://belgrademyway.com/belgrade-port/" target="_blank">
                Belgrade (Sava) Port</a>, just below <a href="http://belgrademyway.com/kalemegdan-park-and-belgrade-fortress/">
                Kalemegdan</a> (the fortress), and the number of Danube cruises stopping in Belgrade is growing.
                There are numerous marinas and docking facilities along the rivers, if you’re coming with your own boat.
                At the moment there aren’t any regular lines between Belgrade and other Danube cities, but some Belgrade-based cruisers
                offer cruises to Novi Sad and Djerdap for organized groups.
            </p>

            <h2>Bus</h2>
            <p>
                Belgrade has two adjacent bus stations, near the eastern banks of the Sava River:
                <a href="http://www.bas.rs/default.htm" target="_blank"> BAS</a> and <a href="http://lasta.rs/"> Lasta</a>.
                <strong>Belgrade Bus Station</strong> (Serbian Cyrillic : Београдска аутобуска станица) is the main bus station in Zeleznicka 4,
                Belgrade. The bus station is composed by a bus depot and two bus terminals.
                It is the main hub for intercity bus line Lasta Beograd. It is operated by BAS Beogradska autobuska stanica a.d.
            </p>

            <h2>Car & Motorcycle</h2>
            <p>
                Belgrade has two adjacent bus stations, near the eastern banks of the Sava River:
                <a href="http://www.bas.rs/default.htm" target="_blank"> BAS</a> and <a href="http://lasta.rs/" target="_blank"> Lasta</a>.
                <strong>Belgrade Bus Station</strong> (Serbian Cyrillic : Београдска аутобуска станица) is the main bus station in Zeleznicka 4,
                Belgrade. The bus station is composed by a bus depot and two bus terminals.
                It is the main hub for intercity bus line Lasta Beograd. It is operated by BAS Beogradska autobuska stanica a.d.
            </p>

            <h2>Train</h2>
            <p>
                The Central Train Station has an information office on Platform 1, tourist information office, exchange bureau and sales counter.
                The <strong>Belgrade Centre railway station</strong> (Serbian: Железничка станица Београд Центар), colloquially known as <strong>Prokop</strong> (Serbian: Прокоп),
                is the new central railway station in Belgrade, the capital of Serbia. The station is located in the Belgrade municipality of Savski Venac.
                See <a href="http://serbianrailways.com/"> www.serbianrailways.com</a> for updated timetables and fares.
                Also see for more information at <a href="https://www.seat61.com/stations/belgrade.htm" target="_blank"> https://www.seat61.com/stations/belgrade.htm</a>
            </p>

            <h2>Getting Around</h2>
            <h3>Car &amp; Motorcycle</h3>
            <p>
                Parking in Belgrade is regulated by three parking zones – red (one hour, 56DIN), yellow (two hours, 48DIN per hour)
                and green (three hours, 41DIN per hour). Tickets must be bought from kiosks or via SMS (in Serbian).
                Visit <a href="http://www.domovina.com/parking-in-belgrade-city-center.html" target="_blank"> http://www.domovina.com/parking-in-belgrade-city-center.html</a>
                for more information.
            </p>

            <h3>Public Transport</h3>
            <p>
                Trams and trolleybuses ply limited routes but buses chug all over town.
                Rechargeable <a href="https://www2.busplus.rs/lt/pocetna" target="_blank"> BusPlus</a> cards can be bought and topped up (89 RSD per ticket) at kiosks across the city;
                they're 150 RSD if you buy from the driver.
            </p>
            <p><strong>Time ticket for period of 90 minutes</strong></p>
            <p>
                Passengers with a plastic Depersonalized electronic tickets can use a time ticket which enables them to
                change vehicles of the public transportation for the unlimited number of times in a period of 90 minutes.
                Time ticket costs 89 dinars in the zones 1 and 2, that cover most of the city.
            </p>
            <p><strong>1, 3 or 5-day ticket</strong></p>
            <p>
                Passenger can also use a 1, 3 or 5-day ticket ( valid in the period of the daily traffic - not from 4:00 until midnight).
                1 day ticket cost 250 dinars, 3 days ticket cost 700 dinar , and 5-days ticket cost 1000 dinar.
                (in the zones 1 and 2, that cover most of the city)
                Tickets must be validate immediately upon entry into the vehicle, using  touch screen monitor machines installed in every vehicle, by each set of doors.
            </p>

            <p><strong>During nighttime</strong></p>
            <p>
                Tickets are more expensive for night services (00-04), buses run at 1-hour intervals from special stops
                at the Republic Square towards other parts of the city. The night fare is 150 - 200 dinars and you can only buy ticket in the bus.
                Tram 2 connects Kalemegdan Citadel with Trg Slavija, bus stations and the central train station.
            </p>
            <p>
                Zemun is a 45-minute walk from central Belgrade (across Brankov Most, along Nikole Tesle and the Kej Oslobođenja waterside walkway).
                Alternatively, take bus 15 or 84 from Zeleni Venac market, or bus 83 or 78 from the main train station.
            </p>

            <h3>Taxi</h3>
            <p>
                Belgrade taxi service is cheap, and taxi can be hailed in the street.
                The price is calculated according to the distance travelled. Sometimes  dishonest taxi drivers
                take advantage of tourists so our advice is: use only established taxi companies. Taxi vehicle must have:
                (TAXI sign bearing the association's logo on the roof, valid pricelist placed to be visible to passenger,
                and identification card with driver's photo and address placed to be visible to passenger).
            </p>

            <h3>Taxi price</h3>
            <table style="width:100%; text-align: center">
              <tr>
                <th>SERVICE</th>
                <th>Tariff 1</th>
                <th>Tariff 2</th>
                <th>Tariff 3</th>
              </tr>
              <tr>
                <td>START</td>
                <td>170</td>
                <td>170</td>
                <td>170</td>
              </tr>
              <tr>
                <td>PRICE PER KM</td>
                <td>70</td>
                <td>85</td>
                <td>130</td>
              </tr>
              <tr>
                <td>WAITING 1 HOUR</td>
                <td>750</td>
                <td>750</td>
                <td>750</td>
              </tr>
            </table>
            <br>
            <p>
                <strong>First tariff</strong> - (Mon to Sat 06:00 - 22:00)  a start-up fee is 170 dinars and the rate per kilometer is 70 dinars
            </p>
            <p>
                <strong>Second tariff</strong> - (Mon to Sat 22:00-06:00, Sunday and public holidays) a start-up fee is 170 dinars and the rate per kilometer is 85 dinars
            </p>
            <p>
                <strong>Third tariff</strong> - applies in areas outside the city of Belgrade - a start-up fee is 170 dinars and the rate per kilometer is 130 dinars.
            </p>

            <h3>It's good to know:</h3>
            <ul>
                <li>The price includes transport of passenger's personal luggage, but Taxi usually charge extra for the big luggage. Fee is around 100 dinars.</li>
                <li>Tips not required, but they are appreciated. </li>
                <li>If you make stop during taxi ride it cost extra. (waiting fee for 1 hour is  750 dinars)</li>
            </ul>

            <h3>Here is a list of established Taxi companies:</h3>
            <ul>
                <li><a href="http://www.beogradski-taxi.com/?lang=en" target="_blank"> Beogradski</a>, phone: 19801</li>
                <li><a href="http://www.pinktaxi.info/" target="_blank">Pink</a> taksi, phone: 19803</li>
                <li>Alfa taksi, phone: 19807</li>
                <li><a href="http://www.taxi.rs/" target="_blank">Žuti</a> taksi, phone: 19802</li>
                <li><a href="https://luxtaxi.rs/" target="_blank">Lux</a> taxi, phone: 303-3123</li>
                <li>Naksis taksi, phone: 19804</li>
                <li><a href="http://naxis.rs/en/" target="_blank">Naksi</a> taksi, phone: 2157-668</li>
            </ul>
            <p>
                There is no Uber in Belgrade, but there is Serbian version of it, called <a href="https://appcargo.net/en/home/" target="_blank">CAR:GO</a>,
                which is a little bit cheaper than taxi.
                And also chek <a href="http://www.liftago.com/" target="_blank">Liftago</a> if you like it more.
            </p>

            <h2>Museums and art</h2>

            <h3>Nikola Tesla Museum</h3>
            <p>
                The <a href="https://nikolateslamuseum.org/en/" target="_blank">Nikola Tesla Museum</a> preserving the complete heritage of the greatest Serbian scientist and inventor Nikola Tesla is located in the heart of Belgrade,
                in a beautiful residential villa built in 1929, designed by the notable Serbian architect Dragiša Brašovan.
                In accordance with Tesla’s last will and testament, his heritage was moved to Belgrade in 1951.
                The permanent exhibit consists of the original documents, books, magazines, plans and drawings of the greatest Serbian inventor.
            </p>
            <p>
                The Nikola Tesla Museum is today a scientific and cultural institution which is unique in Serbia and the world.
                It is the only museum preserving the original and personal legacy of Nikola Tesla.
                You will be able to see an extremely valuable collection, which includes:
            </p>

            <ul>
                <li>More than 160,000 original documents</li>
                <li>More than 2,000 books and periodicals</li>
                <li>More than 1,200 historical and technical exhibits</li>
                <li>More than 1,500 photographs and glass photographic plates of original technical items, instruments and devices</li>
                <li>More than 1,000 plans and drawings</li>
            </ul>

            <h3>National Museum</h3>
            <p>
                The <a href="http://www.narodnimuzej.rs/?lang=en" target="_blank"> National Museum</a> is located in the center of Belgrade –
                it is on the main city square called Trg Republike.
                You can reach the Museum by taking public or your own transport. It is the most significant,
                oldest and central museum of Serbia containing 34 archaeological, numismatic and historical collections at this moment,
                after 160 years of growth and development, as well as key artistic directions and styles,
                pinnacles of artistic achievement in the national and European art world from the medieval period to modern times.
                The National Museum also holds the Gospel of Miroslav (“Miroslavljevo Jevanđelje“) from the 12th century,
                the most valuable artefact of Serb culture, officially declared the most beautiful Cyrillic manuscript in the
                world and a cultural treasure placed, along with the archive of the Museum of Nikola Tesla, under the
                protection of the UNESCO program “Memories of the World”.
            </p>

            <h3>Museum of Illusions</h3>
            <p>
                Be brave enough to jump in a illusion created by the Vortex Tunnel! See yourself on the ceiling of the room,
                let yourself free in an Infinity room, resist the laws of gravity and size ratio, and make pictures of yourself
                in every possible pose! Visit <a href="https://www.muzejiluzija.rs/en/" target="_blank"> Museum of Illusion</a>
                and experience a lot of exciting things. This is a place for children,
                parents, couples, grandmothers and grandfathers. Simply place where everyone will be entertained.
            </p>

            <h3>Heritage House</h3>
            <p>
                The <a href="http://www.kucalegata.org/" target="_blank"> Heritage House</a> is located in the house of the famous Belgrade merchant Veljko Savić, built in 1869 as one
                of the first modern single-story houses. Heritage house organizes exhibitions of famous artist such as
                Picasso and Andy Warhol, but also of modern, contemporary artists from Serbia and abroad.
                Check out which exhibition is on schedule when you come here, it may surprise you!
            </p>

            <p>
                Some other galleries you could visit are the <a href="http://www.odbrana.mod.gov.rs/sadrzaj.php?id_sadrzaja=263" target="_blank"> Gallery of the CMC</a>,
                near the Republic square, or <a href="http://www.beogradskatvrdjava.co.rs/?p=890&lang=en" target="_blank"> “Cvijeta Zuzoric”</a> Art Pavilion, which is placed on Kalemegdan fortress.
                Check out Tourist Organization in Belgrade’s <a href="http://www.tob.rs/en" target="_blank"> website</a>, to find other interesting museums and get more ideas.
            </p>
            <br>
            <div class="centered mt-xs-20 mb-xs-20">
                <a class="button button--yellow" onclick="topFunction()"><i class="fas fa-angle-up"></i> Back to top</a>
            </div>
            <br>
        </div>
    </div>

    <div class="speaker hide_on_mobile centered">
        <div style="margin-left: 220px;"></div>
        <div class="speaker__image">
            <img src="{% static 'img/venue_1.jpg' %}">
        </div>
        <div class="speaker__image">
            <img src="{% static 'img/venue_2.jpg' %}">
        </div>
        <div class="speaker__image">
            <img src="{% static 'img/venue_3.jpg' %}">
        </div>
        <div class="speaker__image">
            <img src="{% static 'img/belgrade_3.jpg' %}">
        </div>
        <div class="speaker__image">
            <img src="{% static 'img/belgrade_2.jpg' %}">
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/go_to_top.js' %}" type="text/javascript"></script>
{% endblock %}
