{% extends "base.html" %}

{% load static %}

{% block main_content %}

    {# Info #}

    <div class="speaker">
        <div class="temp__details">
            <h1>Venue</h1>
            <p>
                <a  href="http://www3.hilton.com/en/hotels/serbia/hilton-belgrade-BEGBSHI/index.html"
                    target="_blank"
                    title="Hilton Belgrade, Serbia">Hilton Belgrade</a> is located in the heart of Belgrade downtown, just steps from businesses, restaurants, shopping and entertainment. Enjoy the Old Town charm, walk to Slavija Square, or explore the Temple of Saint Sava, Kalemegdan, and various museums and galleries. 
            </p>

            <img src="{% static 'img/venue_1.jpg' %}" class="content-image" />

            <p>
                The venue offers extensive meeting facilities: a 407 sq. m. ballroom for up to 530 guests, a 244 sq. m. pre-function area, three multifunction rooms plus a boardroom and Executive Lounge. Generous workspace, WiFi access and LCD TVs make this hotel uniquely equipped with multiple networking options.
            </p>
            <p>
                Hilton hotel also offers upscale accommodation, and you can enjoy a rooftop bar & dining plus a modern fitness center and spa.
            </p>

            <h2>Explore Belgrade</h2>
            <p>
                Proudly named the city of culture, inspiration, sports, and festivals. With some of the most attractive locations, Belgrade Fortress – the oldest cultural and historical monument, Skadarlija – the bohemian quarter in the city centre, Knez Mihailova street; Old and New Royal Court, Temple of St. Sava, Zemun and many others, Belgrade makes the cultural centre of South East Europe.
            </p>
            <img src="{% static 'img/belgrade_1.jpg' %}" alt="Belgrade Skyline" class="content-image" />
            
            <h3>Belgrade Fortress</h3>
            <p>
                Belgrade Fortress, known as Kalemegdan, is a defensive structure built around 3rd century, and is the core and oldest section of the city. It overlooks the confluence of the Sava and Danube rivers. Тhe spot next to the statue Pobednik (The Victor) is probably the most beautiful lookout in Belgrade.
            </p>
            <h3>Bohemian Style</h3>
            <p>
                Discover the Old with the New. Skadarlia’s inns or kafanas have hosted many celebrities over the decades, such as Alfred Hitchcock, Jimi Hendrix, Josip Broz Tito, King Juan Carlos I of Spain, chess player Anatoly Karpov and many others. The present Skadarlija, a short and curved street, is a remarkable attraction with some of the famous inns.
            </p> 

            <img src="{% static 'img/travel_1.jpg' %}" class="content-image" />

            <h3>Nikola Tesla Museum</h3>
            <p>
                The museum preserving the complete heritage of the greatest Serbian scientist and inventor Nikola Tesla is located in the heart of Belgrade. In accordance with Tesla’s last will and testament, his heritage was moved to Belgrade in 1951. The permanent exhibit consists of the original documents, books, magazines, plans and drawings of the greatest Serbian inventor. The Nikola Tesla Museum is today a scientific and cultural institution which is unique in Serbia and the world. It is the only museum preserving the original and personal legacy of Nikola Tesla. You will be able to see an extremely valuable collection. 
            </p>
            <h3>Zemun</h3>
            <p>
                Once a separate city, Zemun is nowadays known as a romantic and poetic part of Belgrade. The bank of the Danube where Zemun is situated, Zemunski kej, is a kilometres long promenade with barges-cafés. Gardoš Tower is the most recognizable symbol of Zemun. This neighborhood preserved its old looks, with narrow, mostly cobblestoned streets and individual residential houses.
            </p>
        </div>
    </div>

    <div class="speaker">
        <div class="temp__details">
            <h2>Travel</h2>
            <p>
                Before travelling to the Republic of Serbia, please check here whether you need a visa. Visa applications should be submitted to the <a href="http://www.mfa.gov.rs/en/embassies/serbian-diplomatic-missions/serbian-embassies" target="_blank" title="Embassy or Consulate General of the Republic of Serbia">Embassy or Consulate General of the Republic of Serbia abroad</a>.
            </p>

            <h3>How to get to Belgrade</h3>
            <p>
                Belgrade is located between the Balkan peninsula and Central Europe, on the Danube and Sava rivers, and the intersection of major European road corridors E10 & E75.
            </p>
            <h4>Plane</h4>
            <p>
                Nikola Tesla (aka. Surčin) is the only international airport in Belgrade, and the largest in the country. It is directly connected with major European, Middle-Eastern and North-African airports.
            </p>
            <h4>Bus</h4>
            <p>
                Regular bus lines connect Belgrade with all parts of Serbia, while international bus lines operate to all neighboring and most European countries. The main bus station – BAS is located on the downtown Sava square, beside the Glavna (Main) train station.
            </p>

            <img src="{% static 'img/belgrade_3.jpg' %}" class="content-image" />

            <h4>Car & Motorcycle</h4>
            <p>
                Belgrade is located at the intersection of the European E-70 and E-75 highways, connecting Central Europe with Southeastern Europe and the Middle East. Foreign drivers in Serbia are required to have a national driver’s license, traffic permit and an insurance policy. It’s good to keep in mind –  finding a parking space in Belgrade can be quite a pain. More info on parking <a href="http://belgrademyway.com/parking-and-garages-in-belgrade/" target="_blank">here</a>.
            </p>
        </div>
    </div>

    <div class="speaker">
        <div class="temp__details">
            <h2>Getting Around</h2>
            <h3>Public Transport</h3>
            <p>
                Trams and trolleybuses ply limited routes but buses chug all over town. Rechargeable BusPlus cards can be bought and topped up (89 RSD per ticket) at kiosks across the city; they're 150 RSD if you buy from the driver. 
            </p>
            <p>
                <b>Note:</b><br />
                Tickets are more expensive for night services (00-04), buses run at 1-hour intervals from special stops at the Republic Square towards other parts of the city. The night fare is 150 - 200 dinars and you can only buy ticket in the bus.
            </p>
            <h4>CAR:GO</h4>
            <p>
                There is no Uber in Belgrade, but there is Serbian version of it, called <a href="https://appcargo.net/en/home/" target="_blank" title="Car:Go">CAR:GO</a>, which is a bit cheaper than taxi. And also chek <a href="http://www.liftago.com/" target="_blank" title="Liftago">Liftago</a> if you like it more.
            </p>
            <h4>Taxi</h4>
            <p>
                Belgrade taxi service is cheap, and taxi can be hailed in the street. The price is calculated according to the distance travelled. Sometimes dishonest taxi drivers take advantage of tourists so our advice is: use only established taxi companies. Taxi vehicle must have: (TAXI sign bearing the association's logo on the roof, valid price-list placed to be visible to passenger, and identification card with driver's photo and address placed to be visible to passenger).
            </p>
            <h4>A list of some established Taxi companies:</h4>
            <ul>
                <li><a href="http://www.beogradski-taxi.com/?lang=en" target="_blank"> Beogradski</a>, phone: 19801</li>
                <li><a href="http://www.pinktaxi.info/" target="_blank">Pink</a> taksi, phone: 19803</li>
                <li>Alfa taksi, phone: 19807</li>
                <li><a href="http://www.taxi.rs/" target="_blank">Žuti</a> taksi, phone: 19802</li>
                <li><a href="https://luxtaxi.rs/" target="_blank">Lux</a> taxi, phone: 303-3123</li>
                <li>Naksis taksi, phone: 19804</li>
                <li><a href="http://naxis.rs/en/" target="_blank">Naksi</a> taksi, phone: 2157-668</li>
            </ul>
            
            <h3>Nikola Tesla Museum</h3>
            <p>
                The <a href="https://nikolateslamuseum.org/en/" target="_blank">Nikola Tesla Museum</a> preserving the complete heritage of the greatest Serbian scientist and inventor Nikola Tesla is located in the heart of Belgrade,
                in a beautiful residential villa built in 1929, designed by the notable Serbian architect Dragiša Brašovan.
                In accordance with Tesla’s last will and testament, his heritage was moved to Belgrade in 1951.
                The permanent exhibit consists of the original documents, books, magazines, plans and drawings of the greatest Serbian inventor.
            </p>
            <p>
                The Nikola Tesla Museum is today a scientific and cultural institution which is unique in Serbia and the world.
                It is the only museum preserving the original and personal legacy of Nikola Tesla.
                You will be able to see an extremely valuable collection, which includes:
            </p>
            <p>
                <ul>
                    <li>More than 160,000 original documents</li>
                    <li>More than 2,000 books and periodicals</li>
                    <li>More than 1,200 historical and technical exhibits</li>
                    <li>More than 1,500 photographs and glass photographic plates of original technical items, instruments and devices</li>
                    <li>More than 1,000 plans and drawings</li>
                </ul>
            </p>

            <div>
                <a class="button button--blue" onclick="topFunction()"><i class="fas fa-angle-up"></i> Back to top</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/go_to_top.js' %}" type="text/javascript"></script>
{% endblock %}
