/*
 * Button
 */

.button {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    width: auto;
    line-height: 40px;
    padding: 0 20px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #28AAE1;
    color: #fff;
}

.button i {
    color: white;
}

.button i.fas,
.button i.far {
    border-right: 1px solid rgba(255,255,255,.3)
}

/* Modifiers */

.button--push {
    float: right;
}

.button--fullwidth {
    width: 100%;
}

.button--yellow {
    color: #000;
    background-color: #F3D66C !important;
}

.button--blue {
    background-color: #28AAE1;
}

.button-yellow:hover,
.button--blue:hover {
    color: white;
    background-color: #343C3E !important;
}
