/*
 * Card
 * List of cards with card, organizer and volunteer info.
 */

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

    .card__item {
        flex: 1 1 auto;
        min-width: 20%;
        margin: 0 40px 80px 0;
        color: white;
    }

        .card__image {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
            border-radius: 50%;
            overflow: hidden;
        }

        .card__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card__name {
            font-size: 2.8rem;
        }

        .card__job {
            font-size: 1.8rem;
        }
