/*
 * Card
 * List of cards with card, organizer and volunteer info.
 */

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.card:last-of-type,
.card__keystone,
.card__platinum,
.card__gold,
.card__silver,
.card__partner,
.card__mediapartner {
    margin-bottom: 0;
    border-bottom: none;
}

.card__keystone {
    border-left: 24px solid #343C3E;
    padding-left: 20px;
}

.card__platinum {
    border-left: 20px solid lightgray;
    padding-left: 24px;
}

.card__gold {
    border-left: 16px solid gold;
    padding-left: 28px;
}

.card__silver {
    border-left: 12px solid silver;
    padding-left: 32px;
}

.card__partner {
    border-left: 8px solid #28AAE1;
    padding-left: 36px;
}

.card__mediapartner {
    border-left: 4px solid plum;
    padding-left: 40px;
}

    .card__item {
        flex: 0 0 200px;
        margin: 0 20px 20px 0;
        color: white;
    }

    .card__item:hover a .card__image {
        border: 2px solid #666;
    }

    .card__item:hover h2.centered {
        color: #28AAE1;
    }

        .card__image {
            width: 200px;
            height: 200px;
            border-radius: 4px;
            overflow: hidden;
        }

        .card__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .card__name {
            font-size: 2.8rem;
        }

        .card__job {
            font-size: 1.4rem;
            text-align: left;
            color: #b4b4b4;
            margin: 0;
        }

.sponsoring {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

    .sponsoring__item {
        flex: 0 0 30%;
        padding: 40px;
        margin: 0 40px 40px 0;
        background-color: #f3d66c;
        color: #32383A;
        border-radius: 20px;
    }

    .sponsoring__item:hover {
        background-color: #28AAE1;
        color: white;
    }

    .sponsoring__item:hover h1,
    .sponsoring__item:hover .package__description {
        color: white;
    }

        .sponsoring__item h1,
        .sponsoring__item .package__description {
            margin-top: 0;
            color: #32383A;
        }

        .sponsoring__item h1 span.sponsoring--limit {
            font-weight: normal;
        }

        .sponsoring__item h1 span.sponsoring--amount {
            font-size: 22px;
        }