/*
 * Countdown
 * Timer in the home page.
 */

 h1.countdownTitle {
     padding-bottom: 10px;
 }

.countdown {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .countdown {
        flex-direction: column;
    }
}

    .countdown__days {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: #28AAE1;
        margin-right: 20px;
    }

        .countdown__days__number {
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #2BAAE1;
            color: white;
        }

    .countdown__time {
        flex: 1;
        display: flex;
        width: 300px;
    }

        .countdown__time__digit {
            text-align: center;
        }

            .countdown__time__number {
                min-width: 35px;
                display: block;
                font-size: 2.9rem;
                color: #2BAAE1;
            }

            .countdown__time__dots {
                display: block;
                font-size: 2.9rem;
                color: #2BAAE1;
            }

            .countdown__time__text {
                display: block;
                color: #2BAAE1;
            }
