/*
 * Event Sidebar
 * Website left sidebar with the event info.
 */

.event-sidebar {
    grid-area: sidebar;
    /* background: blue; */
    padding-right: 20px;
}

    .event-sidebar__title > h1,
    .event-sidebar__title > h2,
    .event-sidebar__title > h3 {
        font-family: 'Montserrat', sans-serif;
    }

    .event-sidebar__text {
        margin: 0 0 10px 0;
    }

    .event-sidebar__text:last-of-type {
        margin-bottom: 40px;
    }

    @media (max-width: 1280px) {
        .event-sidebar__text {
            margin: 10px auto 20px auto;
        }
    }

        .event-sidebar__icon {
            width: 20px;
            color: #666;
        }

    .event-button__wrapper {

    }

    @media (max-width: 1280px) {
        .event-button__wrapper {
            margin: 10px auto 20px auto;
        }
    }

    .supported-by {
        padding-top: 20px;
        border-top: 1px solid rgba(0,0,0,.1);
        margin-bottom: 20px;
    }

    .supported-by-img {
        display: block;
    }

    .supported-by-img img{
        width: 180px;
        height: auto;
        margin-bottom: 20px;
    }