/*
 * Flag
 * Usually <hr> elements representing a line.
 */

i.flag {
    width: 30px;
    height: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(0,0,0,.1);
    margin-right: 10px;
    background-size: 20px auto;
    background-position: left center;
}