/*
 * Form
 */

.form {
    width: 60%;
    margin-bottom: 20px;
}

@media (max-width: 1280px) {
    .form {
        display: flex;
        flex-flow: column wrap;
        width: 100%
    }
}

    .form-group {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .form-group p label {
        display: block;
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;  
    }

    .form-group input[type=radio] {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    @media (max-width: 1280px) {   
        .form-group {
            justify-content: center;
            align-items: center;
        }     
    }

    @media (max-width: 1280px) {
        .form .form-group .button--fullwidth {
            align-self: center;
        }
    }

        .form p {
            flex: 1;
            width: 100%;
            margin-bottom: 20px;
        }

        @media (max-width: 1280px) {
            .form p {
                flex: 1;
            }
        }

        .form ul,
        .form li {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;
            width: 100%;
        }

        .form-group li {
            height: 25px;
        }

        .form .form-control {
            font-family: 'Montserrat', sans-serif;
            display: block;
            width: 100%;
            line-height: 40px;
            padding: 0 20px;
            background-color: transparent;
            border: 1px solid #666;
            border-radius: 4px;
            outline: none;
            color: #666;
        }

        .form .form-control:focus {
            border: 1px solid #28AAE1;
            color: #28AAE1;
        }

        .form textarea.form-control {
            height: 200px;
        }

        .form .errorlist {
            font-size: 1.6rem;
            font-weight: bold;
            color: red;
            margin-bottom: 16px;
            padding-left: 16px;
        }
