/*
 * Form
 */

.form {

}

    .form p {
        margin-bottom: 16px;
    }

    .form .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .form .errorlist {
        font-size: 1.6rem;
        font-weight: bold;
        color: red;
        margin-bottom: 16px;
        padding-left: 16px;
    }
