/*
 * Line
 * Usually <hr> elements representing a line.
 */

.line {
    height: 2px;
    border: 0;
}

/* Modifiers */

.line--blue {
    background-color: #22A4D9;
}

.line--short {
    width: 40px;
}

.line--spaced {
    margin: 20px 0;
}