/*
 * Line
 * Usually <hr> elements representing a line.
 */

.line {
    width: 40px;
    height: 2px;
    margin: 20px 0 40px 0;
    border: 0;
    background-color: #22A4D9;
}

.long {
    width: 100%;
    margin: 40px 0;
    background-color: rgba(255,255,255,.3);
    z-index: -1;
}

.line__centered {
    margin: 40px auto;
}