/*
 * Menu
 * Website main menu.
 */

.menu {
    box-sizing: border-box;
}

.menu__header {
    grid-area: menu;
    height: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
}

@media (max-width: 1280px) {
    .menu__header {
        height: 0;
        margin-bottom: 0;
    }
}

.mobile-button {
    display: none;
}

@media (max-width: 1280px) {
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: auto;
        height: 0;
        padding: 0;
        margin-left: 0;
        z-index: 999;
    }

    .mobile-button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        content: '';
        align-self: flex-end;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        background-color: #28aae1;
        background-image: url(/static/img/burger-menu.png);
        background-image: url(/static/img/burger-menu.svg);
        background-position: center;
        cursor: pointer;
    }

    .mobile-button:hover {
        background-color: #343C3E;
        background-image: url(/static/img/burger-menu.png);
        background-image: url(/static/img/burger-menu.svg);
    }

    .menu.active {
        background-color: rgba(255,255,255,.95);
        height: 100%;
    }

    .menu.active .mobile-button {
        background-color: #343C3E;
        background-image: url(/static/img/close.png);
        background-image: url(/static/img/close.svg);
    }

    .menu.active .mobile-button:hover {
        background-color: #28aae1;
    }

    .menu.active .menu__list {
        display: flex;
    }
}

    .menu__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media (max-width: 1280px) {
        .menu__list {
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }

        .menu__list__item {
            flex: 1;
            white-space: nowrap;
            margin-right: 20px;
        }

        .menu__list__item:last-of-type {
            margin-right: 0;
        }

        @media (max-width: 1280px) {
            .menu__list__item {
                width: 60vw;
                height: auto;
                margin: 0;
                margin-bottom: 10px;
                text-align: center;
            }
        }

            .menu__list__link {
                display: flex;
                align-items: center;
                height: 40px;
                padding: 0 20px;
                border: 1px solid #343C3E;
                border-radius: 4px;
                color: #343C3E;
                font-size: 1.4rem;
                text-decoration: none;
                box-sizing: border-box;
            }

            .menu__list__link.active,
            .menu__list__link:hover {
                border: 1px solid #343C3E;
                background-color: #343C3E;
                color: white;
            }

            .dropdown {
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            
            .active {
                display: flex;
            }

            .dropdown:before {
                content: '\f078';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                margin-left: 10px;
            }

            .dropdown.active:before {
                content: '\f077';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            }

            .dropdown-menu {
                position: absolute;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #343C3E;
                border-radius: 3px;
                margin-top: 10px;
            }

            @media (max-width: 1280px) {
                .dropdown-menu {
                    background: transparent;
                }
            }

            .active + .dropdown-menu {
                display: flex;
            }

            .dropdown-menu a {
                flex: 1;
                width: 100%;
                background-color: #343C3E;
                color: white;
                padding: 10px 20px;
                text-align: left;
                text-decoration: none;
            }

            .dropdown-menu a:hover {
                background-color: rgba(255,255,255,.95);
                color: #343C3E;
            }

/* Modifiers */

.menu__list__link--featured {
    background-color: #28aae1;
    font-weight: bold;
}

.menu__list__link--featured:hover {
    color: #313b3d;
    background-color: #ffd64f;
}

@media (max-width: 1280px) {
    .menu__list__link--featured {
        border: 1px solid white;
        background-color: white;
        color: #28aae1;
    }
}