/*
 * Menu
 * Website main menu.
 */

.menu {
    width: 100%;
    text-align: right;
    padding: 50px 150px 0;
}

    .menu__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .menu__list__item {
            display: inline-block;
            margin-left: 5px;
        }

            .menu__list__link {
                font-size: 1.4rem;
                padding: 7px 12px;
                color: #fff;
                text-decoration: none;
                border-radius: 24px;
                transition: all .3s;
            }

            .menu__list__link.active,
            .menu__list__link:hover {
                color: #313b3d;
                background-color: #F3D66C;
            }

/* Modifiers */

.menu__list__link--featured {
    background-color: #22A4D9;
    font-weight: bold;
    padding: 10px 15px;
}

.menu__list__link--featured:hover {
    color: #313b3d;
    background-color: #F3D66C;
}




