.page {
    display: grid;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    grid-template-areas:
        ". logo ."
        "menu menu menu" 
        "sidebar main main";
    grid-template-rows: 240px 60px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 1600px) {
    .page {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .page {
        padding: 40px;
        grid-template-areas:
            "logo"
            "sidebar"
            "main";
        grid-template-rows: 200px auto;
        grid-template-columns: 1fr;
    }
}

    .page__content {
        grid-area: main;
        /* background: orange; */
    }

        .column {
            flex: 0 0 70%   ;
            margin-right: 80px;
        }

        @media (max-width: 1024px) {

            .column {
                margin-right: 0;
            }
        }

        .column:nth-of-type(2) {
            margin-right: 0;
        }

        .column-full {
            flex: 1;
            width: 100%;
        }

        .column p,
        .column ul,
        .column li {
        }

        .column p {
            margin-bottom: 20px;
        }

        .column h3 {
            margin-bottom: 10px;
        }

        .column ul {
            display: block;
            list-style-type: square;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }

        .column ul li {
            display: list-item;
        }