.page {
}

    .page__content {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 400px;
        padding: 40px;
    }

    @media (max-width: 1280px) {
        .page__content {
            width: 90%;
            height: auto;
            padding: 40px 0;
            margin: 0 auto;
        }
    }

        .column {
            flex: 0 0 70%   ;
            margin-right: 80px;
        }

        @media (max-width: 1024px) {

            .column {
                margin-right: 0;
            }
        }

        .column:nth-of-type(2) {
            margin-right: 0;
        }

        .column-full {
            flex: 1;
            width: 100%;
        }

        .column p,
        .column ul,
        .column li {
            font-size: 1.6rem;
            color: white;
        }

        .column p {
            margin-bottom: 20px;
        }

        .column h3 {
            margin-bottom: 10px;
        }

        .column ul {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 20px;
        }

        .column ul li {
            padding-left: 0px;
        }

        .column ul li::before {
            display: inline-block;
            content: '';
            width: 16px;
            height: 16px;
            padding-right: 8px;
            background-image: url(/static/img/python-bullet.png);
            background-image: url(/static/img/python-bullet.svg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
            vertical-align: middle;
        }