.page {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-template-areas:
        ". . logo . ."
        ". menu menu menu ." 
        ". sidebar main main ."
        "footer footer footer footer footer";
    grid-template-rows: 240px 60px auto 100vh;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-gap: 20px;
}

@media (max-width: 1280px) {
    .page {
        grid-template-areas:
            "logo"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: 200px auto;
        grid-template-columns: 100%;
    }
}

    .page__content {
        grid-area: main;
    }

    @media (max-width: 1280px) {
        .page__content {
            padding: 0 20px;
        }
    }

        .column {
            flex: 0 0 70%   ;
            margin-right: 80px;
        }

        @media (max-width: 1024px) {

            .column {
                margin-right: 0;
            }
        }

        .column:nth-of-type(2) {
            margin-right: 0;
        }

        .column-full {
            flex: 1;
            width: 100%;
        }

        .column p,
        .column ul,
        .column li {
        }

        .column p {
            margin: 15px 0 20px;
        }

        .column h3 {
            margin-bottom: 10px;
        }

        .column ul {
            display: block;
            list-style-type: square;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }

        .column ul li {
            display: list-item;
        }