/*
 * Speaker/Organizer
 * Speaker/Organizer detailed view.
 */

 .border--bottom {
    border-bottom: 1px solid rgba(0,0,0,.1);
 }

.previous__talks h4 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #666;
}

.speaker__type__keynote {
    border-left: 10px solid #28aae1;
}

.speaker__type__talk {
    border-left: 10px solid #343C3E;
}

.speaker__type__workshop {
    border-left: 10px solid #666;
}

.presentation__keynote {
    color: #28aae1;
}

.presentation__talk {
    color: #343C3E;
}

.presentation__workshop {
    color: #666;
}

.speaker,
.organizer,
.sponsor {
    width: 100%;
    padding-bottom: 20px;
}

    .speaker__details,
    .organizer__details,
    .sponsor__details {
        display: flex;
        flex-flow: row wrap;
    }

    @media (max-width: 1024px) {
        .speaker__details,
        .organizer__details,
        .sponsor__details {
            flex-flow: column wrap;
        }
    }

    /* .speaker__details:hover a.headerlink {
        visibility: visible;
        color: #DDDDDD;
    }

    .speaker__details a.headerlink:hover {
        color: #28aae1;
    }

    .speaker__details a.headerlink{
        visibility: hidden;
    } */

        .speaker__image,
        .organizer__image,
        .sponsor__image {
            flex: 0 0 200px;
            align-self: center;
            width: 200px;
            height: 200px;
            margin: 0 20px 20px 0;
            border-radius: 4px;
            overflow: hidden;
        }

        @media (max-width: 1024px) {
            .speaker__image,
            .organizer__image,
            .sponsor__image {
                margin: 0 0 40px 0;
            }
        }

        .speaker__info {
            flex: 1;
        }

    .speaker__conferences {}

    .talk__wrapper {}
    .workshop__wrapper {}

    .speaker__presentation {}

    .speaker__tags {
        padding-bottom: 20px;
    }
    
        .speaker__presentation__tag {
            display: inline-block;
            padding: 2px 6px;
            margin-right: 2px;
            background-color: #e1e1e1;
            color: #666;
            font-size: 12px;
        }
                
    .iframe__wrapper {
        padding-bottom: 20px;
    }

    @media (max-width: 1024px) {
        .iframe__wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            border-bottom: 20px solid transparent;
        }
    }

        .iframe__wrapper iframe {
            width: 400px;
            height: 225px;
        }

        @media (max-width: 1024px) {
            .iframe__wrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

    .speaker__link,
    .organizer__link {
        text-decoration: none;
    }

    .speaker__link h2:hover,
    .organizer__link h2:hover {
        color: #666;
    }

    .speaker__name,
    .organizer__name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        margin-bottom: 0;
    }

    .temp__details {
        margin-bottom: 20px;
    }

    .speaker__details h1,
    .speaker__details h2 {
        padding: 0;
        margin: 0;
    }

        .speaker__image img,
        .organizer__image img,
        .sponsor__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .speaker__title,
        .organizer__title {
            font-size: 2.8rem;
            margin-bottom: 10px;
        }

        .speaker__job,
        .organizer__job {
            font-size: 1.6rem;
            padding: 0;
            margin-bottom: 20px;
            color: #b4b4b4;

        }

        .speaker__description,
        .organizer__description,
        .sponsor__description {
            margin-bottom: 20px;
        }

        @media (max-width: 1024px) {
            .speaker__description,
            .organizer__description,
            .sponsor__description {
                margin-bottom: 15px;
            }
        }

        .social__links {
            height: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            box-sizing: content-box;
        }

        .social__links a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 4px;
            background-color: #28aae1;
        }

        .social__links a:hover {
            background-color: #343C3E;
        }

        .website {
            background-image: url(/static/img/website.svg);
        }

        .github {
            background-image: url(/static/img/github.svg);
        }

        .linkedin {
            background-image: url(/static/img/linkedin.svg);
        }

        .facebook {
            background-image: url(/static/img/facebook.svg);
        }

        .twitter {
            background-image: url(/static/img/twitter.svg);
        }

        .instagram {
            background-image: url(/static/img/instagram.svg);
        }

        .facebook-dark,
        .twitter-dark,
        .instagram-dark {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background-size: contain;
        }

        .facebook-dark:hover,
        .twitter-dark:hover,
        .instagram-dark:hover {
            background-color: #ebebeb;
        }

        .facebook-dark {
            background-image: url(/static/img/facebook-dark.svg);
        }

        .twitter-dark {
            background-image: url(/static/img/twitter-dark.svg);
        }

        .instagram-dark {
            background-image: url(/static/img/instagram-dark.svg);
        }

        .email {
            background-image: url(/static/img/email.svg)
	}
