/*
 * Speaker/Organizer
 * Speaker/Organizer detailed view.
 */

 .speaker,
 .organizer,
 .sponsor {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
 }

 @media (max-width: 1024px) {
     .speaker,
     .organizer,
     .sponsor {
         flex-flow: column wrap;
     }
 }

    .speaker__image,
    .organizer__image,
    .sponsor__image {
        flex: 0 0 200px;
        width: 200px;
        height: 200px;
        margin: 20px 40px 20px 0;
        border-radius: 50%;
        background-color: #28aae1;
        overflow: hidden;
    }

    @media (max-width: 1024px) {
        .speaker__image,
        .organizer__image,
        .sponsor__image {
            margin: 0;
        }
    }

    .speaker__details,
    .organizer__details,
    .sponsor__details {
        flex: 1;
    }

    @media (max-width: 1024px) {
        .speaker__details,
        .organizer__details,
        .sponsor__details {
            text-align: center;
        }
        .speaker__details h1, .speaker__details h2 {
            font-size: 2rem;
        }
    }


        .speaker__image img,
        .organizer__image img,
        .sponsor__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .speaker__title,
        .organizer__title {
            font-size: 2.8rem;
            margin-bottom: 10px;
        }

        .speaker__job,
        .organizer__job {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }

        .speaker__description,
        .organizer__description,
        .sponsor__description {
            margin-bottom: 20px;
        }

        @media (max-width: 1024px) {
            .speaker__description,
            .organizer__description,
            .sponsor__description {
                margin-bottom: 15px;
            }
        }

        .social__links {

        }

        .social__links a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 20px;
            background-color: #28aae1;
        }

        .social__links a:hover {
            background-color: #ffd64f;
        }

        .website {
            background-image: url(/static/img/website.svg);
        }

        .github {
            background-image: url(/static/img/github.svg);
        }

        .linkedin {
            background-image: url(/static/img/linkedin.svg);
        }

        .facebook {
            background-image: url(/static/img/facebook.svg);
        }

        .twitter {
            background-image: url(/static/img/twitter.svg);
        }

        .instagram {
            background-image: url(/static/img/instagram.svg);
        }

        .facebook-dark,
        .twitter-dark,
        .instagram-dark {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-size: contain;
        }

        .facebook-dark:hover,
        .twitter-dark:hover,
        .instagram-dark:hover {
            background-color: #ebebeb;
        }

        .facebook-dark {
            background-image: url(/static/img/facebook-dark.svg);
        }

        .twitter-dark {
            background-image: url(/static/img/twitter-dark.svg);
        }

        .instagram-dark {
            background-image: url(/static/img/instagram-dark.svg);
        }

	.email {
	    background-image: url(/static/img/email.svg)
	}
