/*
 * Speaker/Organizer
 * Speaker/Organizer detailed view.
 */

 .speaker,
 .organizer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
 }

    .speaker__image,
    .organizer__image {
        flex: 0 0 300px;
        width: 300px;
        height: 300px;
        margin: 0 40px 20px 0;
        border-radius: 50%;
        background-color: #28aae1;
        overflow: hidden;
    }

    .speaker__details,
    .organizer__details {
        flex: 1;
    }

        .speaker__image img,
        .organizer__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .speaker__title,
        .organizer__title {
            font-size: 2.8rem;
            margin-bottom: 0 !important ;
        }

        .speaker__job,
        .organizer__job {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }

        .speaker__description,
        .organizer__description {
            margin-bottom: 20px;    
        }

        .social__links {

        }

        .social__links a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 20px;
            background-color: #28aae1;
        }

        .social__links a:hover {
            background-color: #ffd64f;
        }

        .website {
            background-image: url(/static/img/website.svg);
        }

        .github {
            background-image: url(/static/img/github.svg);
        }

        .linkedin {
            background-image: url(/static/img/linkedin.svg);
        }

        .facebook {
            background-image: url(/static/img/facebook.svg);
        }

        .twitter {
            background-image: url(/static/img/twitter.svg);
        }
