/*
 * Speaker/Organizer
 * Speaker/Organizer detailed view.
 */



 .speaker,
 .organizer,
 .sponsor {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

.speaker {
    flex-flow: row wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
 }:

 .speaker:nth-of-type(1) {
     padding-top: 20px;
     border-top: 1px solid rgba(0,0,0,.1);
 }

 @media (max-width: 1024px) {
     .speaker,
     .organizer,
     .sponsor {
         flex-flow: column wrap;
     }
 }

    .speaker__image,
    .organizer__image,
    .sponsor__image {
        align-self: center;
        width: 400px;
        height: 200px;
        margin: 0 0 20px 0;
        border-radius: 4px;
        overflow: hidden;
    }

    .speaker__image {
        margin: 0;
    }

    @media (max-width: 1024px) {
        .speaker__image,
        .organizer__image,
        .sponsor__image {
            margin: 0;
            margin-top: 15px;
        }
        iframe {
            width: 100%;
        }
        .line {
            display: none;
        }
        .hide_on_mobile {
            display: none;
        }
    }

    .speaker__image,
    .organizer__image {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .speaker__link,
    .organizer__link {
        text-decoration: none;
    }

    .speaker__link h2:hover,
    .organizer__link h2:hover {
        color: #666;
    }

    .speaker__name,
    .organizer__name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        margin-bottom: 0;
        color: #28aae1;
    }

    .speaker__button {

    }

    .speaker__presentation {
        padding: 0;
        margin: 0;
        font-weight: 700;
        color: #666;
    }

    .speaker__details,
    .organizer__details,
    .sponsor__details {
        flex: 1;
    }

    .speaker__details:hover a.headerlink{
        visibility: visible;
        color: #DDDDDD;
    }
    .speaker__details a.headerlink:hover{
        color: #28aae1;
    }
    .speaker__details a.headerlink{
        visibility: hidden;
    }

    .temp__details {
        margin-bottom: 20px;
    }

    .speaker__details {
        margin-left: 20px;
        position: relative;
    }

    .speaker__details h1,
    .speaker__details h2 {
        padding: 0;
        margin: 0;
    }

        .speaker__image img,
        .organizer__image img,
        .sponsor__image img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .speaker__title,
        .organizer__title {
            font-size: 2.8rem;
            margin-bottom: 10px;
        }

        .speaker__job,
        .organizer__job {
            font-size: 1.6rem;
            padding: 0;
            margin-bottom: 20px;
            color: #b4b4b4;

        }

        .speaker__description,
        .organizer__description,
        .sponsor__description {
            margin-bottom: 20px;
        }

        @media (max-width: 1024px) {
            .speaker__description,
            .organizer__description,
            .sponsor__description {
                margin-bottom: 15px;
            }
        }

        .social__links {
            padding-top: 20px;
        }

        .social__links a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 4px;
            background-color: #28aae1;
        }

        .social__links a:hover {
            background-color: #343C3E;
        }

        .website {
            background-image: url(/static/img/website.svg);
        }

        .github {
            background-image: url(/static/img/github.svg);
        }

        .linkedin {
            background-image: url(/static/img/linkedin.svg);
        }

        .facebook {
            background-image: url(/static/img/facebook.svg);
        }

        .twitter {
            background-image: url(/static/img/twitter.svg);
        }

        .instagram {
            background-image: url(/static/img/instagram.svg);
        }

        .facebook-dark,
        .twitter-dark,
        .instagram-dark {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background-size: contain;
        }

        .facebook-dark:hover,
        .twitter-dark:hover,
        .instagram-dark:hover {
            background-color: #ebebeb;
        }

        .facebook-dark {
            background-image: url(/static/img/facebook-dark.svg);
        }

        .twitter-dark {
            background-image: url(/static/img/twitter-dark.svg);
        }

        .instagram-dark {
            background-image: url(/static/img/instagram-dark.svg);
        }

        .email {
            background-image: url(/static/img/email.svg)
	}
