
/*
 * Post
 * List of posts in news app.
 */

.post {
    display: flex;
    flex-flow: column wrap;
}

    .post__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        flex: 1;
        padding: 0 0 40px 0;
    }

    @media (max-width: 1280px) {
        .post__item {
            flex-flow: column wrap;
            flex: 1 0 100%;
            padding: 0 0 40px 0;
        }
    }

        .post__short_image {
            flex: 0 0 150px;
            width: 150px;
            height: 150px;
            margin: 0 0 20px 0;
            border-radius: 4px;
            overflow: hidden;
        }

        @media (max-width: 1280px) {
            .post__short_image {
                align-self: center;
                margin: 0 0 40px 0;
            }
        }

            .post__short_image a img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .post__content {
            flex: 1;
        }

        .post__content .post__description {
            font-size: 1.4rem;
            margin-bottom: 20px;
        }

        @media (max-width: 1280px) {
            .post__content .post__title {
                width: 100%;
                margin: 0 0 20px 0;
                text-align: center;
            }

            .post__content .post__description {
                width: 60%;
                margin: 0 auto 40px auto;
            }
        }



        .post__image {
            flex: 0 0 300px;
            align-self: center;
            width: 300px;
            height: 300px;
            margin: 0 40px 40px 0;
            border-radius: 4px;
            overflow: hidden;
        }

            .post__image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .post__title {
            font-size: 2.4rem;
            margin-bottom: 10px;
        }
        .post__description {
            font-size: 1.4rem;
        }