.presentation {
    display: flex;
    margin: 15px 0;
}

.presentation .pre-side {
    height: 250px;
    width: 70px;
    border-radius: 40px;
    background-color: #28aae1 !important;
}

.presentation .pre-side img {
    display: block;
    margin: 40px auto;
}

.presentation-card {
    width: 750px;
    height: 250px;
    margin-left: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #ffca00fc !important;
    color: #000;
}

.presentation-card div {
    display: inline-block;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.presentation-card img {
    border-radius: 4px;
    border: 1px solid gray;
}

.presentation-card hr {
    display: block;
    width: 25px;
    height: 1px;
    border: 0;
    border-top: 3px solid #06908b;
    margin: 0.5em 0;
    padding: 0;
}

.presentation-card .description {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.hidden {
    display: none;
}
