#dates-wrapper {
    text-align: center;
}

.day-select {
    border: 1px solid #343C3E;
    border-radius: 6px;
    background: white;
    font-size: 16px;
    padding: 6px;
    text-decoration: none;
    margin: 1em;
}

.day-select:focus {outline:0;}

.day-select:active,
.day-select:hover,
.selected-day {
    background: #27aae1;
    color: white;
    border: 1px solid transparent;
}

/*.room-timeline {*/
/*    width: 1800px !important;*/
/*    overflow: hidden !important;*/
/*}*/

.timetable .time-entry {
    background-color: #27aae1 !important;
    border: 1px solid #efefef !important;
    text-decoration: none;
    font-size: 14px;
}

.timetable .time-entry:hover {
    background-color: #343c3e !important;
}

.timetable>section>header li {
    width: 115px !important;
}

.timetable ul.room-timeline li:before {
    background-image: unset !important;
}

.timetable ul.room-timeline li:after {
    background-size: 112px auto !important
}

.presentation {
    display: flex;
    margin: 15px 0;
}

.presentation .pre-side {
    height: 250px;
    width: 70px;
    border-radius: 40px;
    background-color: #28aae1 !important;
}

.presentation .pre-side img {
    display: block;
    margin: 40px auto;
}

.presentation-card {
    width: 750px;
    height: 250px;
    margin-left: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #ffca00fc !important;
    color: #000;
}

.presentation-card div {
    display: inline-block;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.presentation-card img {
    border-radius: 4px;
    border: 1px solid gray;
}

.presentation-card hr {
    display: block;
    width: 25px;
    height: 1px;
    border: 0;
    border-top: 3px solid #06908b;
    margin: 0.5em 0;
    padding: 0;
}

.presentation-card .description {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.hidden {
    display: none;
}

#sessionize .sz-day__title {
    font-size: 1.6rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sessionize .sz-grid .sz-session--service .sz-session__card:hover,
#sessionize .sz-grid .sz-session__card:hover {
    background: white !important;
}

@media (min-width: 48em) {
    #sessionize .sz-grid .sz-day__container {
        min-width: 100% !important;
    }
}

#sessionize .sz-grid .sz-track {
    min-width: auto !important;
}

.sz-day__container {
    padding-right: 0 !important;
}

#sessionize .sz-grid .sz-track {
    margin-right: 20px !important;
}

@media (max-width: 1024px) {
    #sessionize .sz-grid .sz-track {
        min-width: calc(100% - 20px) !important;
    }  
}

#sessionize .sz-grid .sz-track:last-of-type {
    margin-right: 0 !important;
}

.sz-session__title {
    font-size: 14px !important;
}