/*
 * Title
 * Heading components.
 */

h1,
h2,
h3,
h4 {
    display: flex;
    align-items: center;
    line-height: initial;
    text-align: left;
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #343C3E;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 20px;
    margin: 0 0 20px 0;
    color: #666;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 20px;
    margin: 0 0 10px 0;
    color: #28aae1;
}

h4 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #b4b4b4;
}

.fas,
.far {
    font-size: 14px;
    margin-right: 10px;
    border-right: 1px solid rgba(0,0,0,.1);
    padding-right: 10px;
    box-sizing: content-box;
    color: #28AAE1;
}

.fa-star {
    color: #FFD64F;
}

.centered {
    text-align: center;
}

.sponsors,
.keystone,
.platinum,
.gold,
.silver,
.partner,
.mediapartner {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2px 8px;
    color: #666;
}

.keystone {
    background-color: #343C3E;
    color: white;
    font-size: 1.4rem;
}

.platinum {
    background-color: lightgray;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
    color: white;
}

.partner {
    background-color: #28AAE1;
    color: white;
}

.mediapartner {
    background-color: plum;
}