/*
 * Title
 * Heading components.
 */

h1,
h2,
h3 {
    line-height: initial;
    color: #666 !important;
    text-align: left !important;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 20px 0;
    color: #666666;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 10px 0;
    color: #666666;
}

h3 {
    font-size: 16px;
    padding: 20px 0 10px 0;
    color: #666666;
}

.centered {
    text-align: center;

}

.sponsors,
.keystone,
.platinum,
.gold,
.silver,
.partner,
.mediapartner {
    padding: 0;
    text-align: center;
}

.keystone {
    font-size: 4rem;
    color: moccasin;
}

.platinum {
    color: lightgray;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.partner {
    color: greenyellow;
}

.mediapartner {
    color: plum;
}