{% load static %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ conference.event }} {{ conference.name }} {{ conference.year }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyCon Balkan description">
    <meta name="author" content="Python Balkan community">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/person.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/event-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/featured-letter.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/line.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/long-text.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/sponsors.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/title.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/timetable.css' %}">
    <link rel="stylesheet" href="{% static 'css/helpers/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Timer JS -->
    <!-- Set the date we're counting down to -->
    <script type="text/javascript"> var countDownDate = parseInt("{{ count_down.count_down|date:"U" }}".concat("000"));</script>
    <script src="{% static 'js/timer.js' %}" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118269305-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118269305-1');
    </script>
</head>

<body class="page">

    {% include 'includes/header.html' %}

    {% include 'includes/event_sidebar.html' %}

    <article class="page__content">
        {% block main_content %}{% endblock %}
    </article>

</body>
    {% block scripts %}{% endblock %}
</html>
