{% load static %}
{% load meta %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head {% meta_namespaces %} >
    {% include "meta/meta.html" %}
    <title>{{ request.conference.event }} {{ request.conference.name }} {{ request.conference.year }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="og:image" content="https://pyconbalkan.com/static/img/pycon-logo.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/_fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/event-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/title.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/person.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/featured-letter.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/flag.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/line.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/long-text.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/sponsors.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/volunteer.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/title.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/timetable.css' %}">
    <link rel="stylesheet" href="{% static 'css/helpers/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/components/faq-accordion.css' %}">
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Timer JS -->
    <!-- Set the date we're counting down to -->
    <script type="text/javascript"> var countDownDate = parseInt("{{ count_down.count_down|date:"U" }}".concat("000"));</script>
    <script src="{% static 'js/timer.js' %}" type="text/javascript"></script>
    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.js"></script>
    <script type = "text/paperscript" canvas = "myCanvas">
        var values = {
            friction: 0.8,
            timeStep: 0.1,
            amount: 15,
            mass: 1.5,
            count: 0
        };
        values.invMass = 1 / values.mass;
        
        var path, springs;
        var size = view.size * [1.2, 1];
        
        var Spring = function(a, b, strength, restLength) {
            this.a = a;
            this.b = b;
            this.restLength = restLength || 80;
            this.strength = strength ? strength : 0.55;
            this.mamb = values.invMass * values.invMass;
        };
        
        Spring.prototype.update = function() {
            var delta = this.b - this.a;
            var dist = delta.length;
            var normDistStrength = (dist - this.restLength) /
                    (dist * this.mamb) * this.strength;
            delta.y *= normDistStrength * values.invMass * 0.2;
            if (!this.a.fixed)
                this.a.y += delta.y;
            if (!this.b.fixed)
                this.b.y -= delta.y;
        };
        
        
        function createPath(strength) {
            var path = new Path({
                fillColor: '#343C3E'
            });
            springs = [];
            for (var i = 0; i <= values.amount; i++) {
                var segment = path.add(new Point(i / values.amount, 0.25) * size);
                var point = segment.point;
                if (i == 0 || i == values.amount)
                    point.y += size.height;
                point.px = point.x;
                point.py = point.y;
                // The first two and last two points are fixed:
                point.fixed = i < 2 || i > values.amount - 2;
                if (i > 0) {
                    var spring = new Spring(segment.previous.point, point, strength);
                    springs.push(spring);
                }
            }
            path.position.x -= size.width / 4;
            return path;
        }
        
        function onResize() {
            if (path)
                path.remove();
            size = view.bounds.size * [2, 1];
            path = createPath(0.1);
        }
        
        function onMouseMove(event) {
            var location = path.getNearestLocation(event.point);
            var segment = location.segment;
            var point = segment.point;
        
            if (!point.fixed && location.distance < size.height / 4) {
                var y = event.point.y;
                point.y += (y - point.y) / 6;
                if (segment.previous && !segment.previous.fixed) {
                    var previous = segment.previous.point;
                    previous.y += (y - previous.y) / 24;
                }
                if (segment.next && !segment.next.fixed) {
                    var next = segment.next.point;
                    next.y += (y - next.y) / 24;
                }
            }x
        }
        
        function onFrame(event) {
            updateWave(path);
        }
        
        function updateWave(path) {
            var force = 1 - values.friction * values.timeStep * values.timeStep;
            for (var i = 0, l = path.segments.length; i < l; i++) {
                var point = path.segments[i].point;
                var dy = (point.y - point.py) * force;
                point.py = point.y;
                point.y = Math.max(point.y + dy, 0);
            }
        
            for (var j = 0, l = springs.length; j < l; j++) {
                springs[j].update();
            }
            path.smooth({ type: 'continuous' });
        }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118269305-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118269305-1');
    </script>
</head>

<body class="page">

    <a href="/" class="logo" title="{{ request.conference.event }} {{ request.conference.name }} - {{ request.conference.city }} {{ request.conference.year }}"></a>

    {% include 'includes/header.html' %}

    {% include 'includes/event_sidebar.html' %}

    <article class="page__content">
        {% block main_content %}{% endblock %}
    </article>

    <footer>
        <div class="footerColumns">
            <div class="footerColumn">
                <h3>Main</h3>
                <ul class="footer--menu__list">
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/' %}active{% endif %}" href="/#" role="button">Home</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'cfp' %}" role="button">CFP</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/news' %}active{% endif %}" href="{% url 'news' %}" role="button">News</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/news' %}active{% endif %}" href="{% url 'sponsorship' %}" role="button">Sponsorship</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/contact' %}active{% endif %}" href="{% url 'contact' %}" role="button">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="footerColumn">
                <h3>Info</h3>
                <ul class="footer--menu__list">
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/venue' %}active{% endif %}" href="{% url 'venue' %}" role="button">Venue</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'faq' %}">F.A.Q</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'organizers' %}">Organizers</a>
                    </li>
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'coc' %}">CoC</a>
                    </li>
                    <li class="footer--menu__list__item">
                        {% if request.conference.timetable_pdf %}
                            <a class="footer--menu__list__link {% if request.path == '/timetable_pdf' %}active{% endif %}" href="{% url 'timetable_pdf' %}" role="button">Timetable</a>
                        {% else %}
                            <a class="footer--menu__list__link {% if request.path == '/timetable' %}active{% endif %}" href="{% url 'timetable' %}" role="button">Timetable</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="footerColumn">
                <h3>Speakers</h3>
                <ul class="footer--menu__list">
                {% for conf in current_conferences %}
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'speakers' year=conf.year %}">PyCon {{ conf.year }} Speakers</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="footerColumn">
                <h3>Recap</h3>
                <ul class="footer--menu__list">
                    {% for conf in previous_conferences %}
                    <li class="footer--menu__list__item">
                        <a class="footer--menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="{% url 'archive_detail' year=conf.year %}">PyCon {{ conf.year }} Recap</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <canvas id="myCanvas" resize>

        </canvas>
    </footer>

    <video autoplay muted loop id="bgVideo">
        <source src="{% static 'video/pycon-bg-2019-loop.mp4' %}" type="video/mp4">
    </video>
</body>
    {% block scripts %}{% endblock %}
</html>
