{% load static %}
<!doctype html>

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900"
          rel="stylesheet">
    <meta charset="utf-8">
    <title>PyCon Balkan 2018</title>
    <style>
        body {
            font-family: Montserrat, sans-serif;
        }
        .blue {
            font-weight: 900;
            color: #53A8DC;
        }
        .yellow {
            font-weight: 900;
            color: #F9D768;
        }
        .black {
            font-size: 48px;
            font-weight: bold;
        }
    </style>
</head>
<body style="text-align:center;">

    <img src="{% static 'img/front-light-pyConBlkn-2.png' %}">

    <div class="black">
        <span class="blue">C</span>OMING <span class="yellow">S</span>OON
    </div>

</body>
</html>