{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ conference.event }} {{ conference.name }} {{ conference.year }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyCon Balkan description">
    <meta name="author" content="Python Balkan community">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Navigation Bar -->

<div class="row">
    <div class="col-md-11 offset-0">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div class="navbar navbar-header mr-auto">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}"></a>
            </div>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end mb-5 pb-3">
                <li><a class="btn btn-light btn-sm round" href="/#" role="button">Home</a></li>
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">News</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">CFP</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">Sponsoring</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">Timetable</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">Travel</a></li>#}
                <li><a class="btn btn-light btn-sm round" href="/tickets" role="button">Tickets</a></li>
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">Events</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">FAQ</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">About</a></li>#}
{#                <li><a class="btn btn-light btn-sm round" href="#" role="button">Contact</a></li>#}
                <li><a class="btn btn-light btn-sm round" href="/organizers" role="button">Organizers</a></li>
                <li><a class="btn btn-light btn-sm round" href="/coc" role="button">CoC</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- END of Navigation Bar -->

<div class="row">

    <!-- Left Side -->
    <div class="col-xl-3 offset-1">
        <div>
            {% if conference %}
            <h1 class="font900 one">{{ conference.event }}</h1>
            <h2 class="one">{{ conference.name }}</h2>
                <h3>{{ conference.city }} {{ conference.year }}</h3>
            {% endif %}
        </div>
        <hr>
        {% if conference %}
            <div class="details">
                <h1 class="font900 font-yellow">#{{ conference.number }}</h1>
                <p>{{ conference.address }}</p>
                <div>
                    <p><i class="far fa-calendar-alt"></i> {{ conference.from_date }} - {{ conference.to_date }}</p>
                    <p><i class="fas fa-users"></i> {{ conference.max_attendees }} attendees</p>
                    <p><i class="fas fa-globe"></i> {{ conference.get_type_display }}</p>
                </div>
{#            <div>#}
{#                <a class="btn btn-primary btn-md round" href="#" role="button"><b>JOIN US</b></a>#}
{#            </div>#}
{#            <div>#}
{#                <i class="fa-lg fab fa-facebook-f sn-icons"></i>#}
{#                <i class="fa-lg fab fa-twitter sn-icons"></i>#}
{#                <i class="fa-lg fab fa-linkedin-in sn-icons"></i>#}
{#            </div>#}
            </div>
        {% endif %}
    </div>
    <!-- END of Left Side -->


    <!-- Main Content -->

    <div class="col-xl-6 offset-1">
        <div class="moveDown">
            <h1 class="font900 font-yellow">Foreign buyers</h1>
        </div>
        <p class="font-white">{# Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto asperiores at cupiditate #}
            {# delectus dicta eius esse! #}</p>
        <table class="ticket">
            <tr>
                <td colspan="2">
                    <label for="id_name" class="font400 font-blue">Name and Surname</label><br>
                    <input type="text" name="name" id="id_name" class="input_border" required />
                </td>
                <td style="width: 10%;"></td>
                <td colspan="2">
                    <label for="id_country" class="font400 font-blue">Country</label><br>
                    <input type="text" name="country" id="id_country" class="input_border" required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="id_email" class="font400 font-blue">e-mail</label><br>
                    <input type="email" name="email" id="id_email" class="input_border" required />
                </td>
                <td></td>
                <td colspan="2">
                    <label for="id_ticket_type" class="font400 font-blue">Ticket type</label><br>
                    <div class="b-select-wrap">
                        <select name="ticket_type" id="id_ticket_type" class="input_border" required >
                            <option value="standart">Standart</option>
                            <option value="tbd1">TBD</option>
                            <option value="tbd2">TBD</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_no_tickets" class="font400 font-blue">No. of Ticket(s) <span class="font-white">25$
                        <span class="font-small"> <br>(Per person)</span></span></label>
                </td>
                <td>
                    <div class="b-select-wrap">
                        <select name="no_tickets" id="id_no_tickets" class="input_border" onchange="toggleSelect()" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </td>
                <td></td>
                <td>
                    <label for="id_lunch" class="font400 font-blue">Lunch <span class="font-white">25$
                        <span class="font-small"> <br>(Per person)</span></span></label>
                </td>
                <td style="width: 10%;">
                    <div class="b-input-time-wrap">
                        <input type="time" name="lunch" id="id_lunch" value="12:00" class="input_border" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_airport" class="font400 font-blue">Airport transport <span class="font-white">15$
                        <span class="font-small"> <br>(Per person)</span></span></label>
                </td>
                <td>
                    <div class="b-select-wrap">
                        <select name="airport" id="id_airport" class="input_border" required onchange="toggleSelect()">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="book_hotel" id="id_book_hotel" onchange="toggleSelect()">
                    <label for="id_book_hotel" class="font400 font-blue">Book hotel</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_no_person" id="id_no_person_label">No. of Person(s) <span class="font-white">110$
                        <span class="font-small"><br>(Per person)</span></span></label>
                </td>
                <td>
                    <div class="b-select-wrap">
                        <select name="no_person" id="id_no_person" class="input_border" disabled onchange="toggleSelect()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </td>
                <td></td>
                <td>
                    <label for="id_no_nights" id="id_no_nights_label">No. of Nights</label>
                </td>
                <td>
                    <div class="b-input-date-wrap">
                        <input type="date" name="no_nights" id="id_no_nights" class="input_border" disabled/>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <button name="total_price" id="id_total_price" class="button-style">
                        <span class="left">Total price: </span>
                        <span class="right" id="total">0</span>
                        <span class="right">$</span>
                    </button>
                </td>
                <td style="width: 100px;">
                    <input type="button" name="pay" id="id_pay" value="Pay" class="button-style"/>
                </td>
            </tr>
        </table>
    </div>


    <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=45876685401&ref=etckt" frameborder="0" height="563" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>

    <!-- END of Main Content -->

</div>

<!-- JQuery test -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Checkbox JS -->
<script src="{% static 'js/checkbox.js' %}" type="text/javascript"></script>


<!-- Bootstrap 4 scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
