{% extends "base.html" %}

{% block main_content %}

    {# Call For Proposals #}

    <h1 class="title title--yellow">Call For Proposals!</h1>
    <hr class="line line--blue line--short line--spaced">

    <form class="form" action="{% url 'cfp' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button button--blue button--fullwidth mb-xs-40" type="submit" value="Submit" />
        </div>
    </form>

{% endblock %}
