{% extends "base.html" %}

{% block main_content %}

    {# CFP detail #}

    <div class="cfp">
        <div class="cfp__content">
            <a class="button button--yellow" href="{% url 'cfp_list' %}" role="button">Back to CFP List</a>
            <h1>{{ cfp.get_type_display }}: {{ cfp.title }} ({% if cfp.duration %}{{ cfp.duration }}{% endif %})</h1>
            <h2>by {{ cfp.name }} {% if cfp.company %}({{ cfp.company }}){% endif %}</h2>
            <p>Email: {{ cfp.email }}</p>
            {% if cfp.personal_website %}<p>Personal Website: <a href="{{ cfp.personal_website }}">{{ cfp.personal_website }}</a></p>{% endif %}
            {% if cfp.linkedin %}<p>Linkedin: <a href="{{ cfp.linkedin }}">{{ cfp.linkedin }}</a></p>{% endif %}
            <p class="cfp__description">
                {{ cfp.description|safe }}
            </p>

        {% if success %}
            <h2 class="success-message">
                {{ success }}
            </h2>
        {% endif %}

        <form class="form" action="{% url 'cfp_detail' cfp.slug %}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button button--blue button--fullwidth mb-xs-40" type="submit" value="Submit" />
            </div>
        </form>
        <a class="button button--yellow" href="{% url 'cfp_list' %}" role="button">Back to CFP List</a>
        </div>
    </div>


{% endblock %}
