{% extends "base.html" %}
{% load embed_video_tags %}
{% load markdownify %}

{% block main_content %}

    {# Speaker INFO #}

    <div class="speaker">
        <div class="speaker__image">
            <img src="{{ speaker.images.first.profile_picture.url }}">
        </div>

        <div class="speaker__details">
            <h2 class="speaker__name">
                {% if speaker.country %}
                    <i class="flag em em-flag-{{ speaker.country.code|lower }}"></i>
                {% endif %}
                {{ speaker.name }}
            </h2>

            <h3 class="speaker__job"> {{ speaker.job }} {% if speaker.company %}- {{ speaker.company }}{% endif %}</h3>
            <div class="bio__wrapper">
                {{ speaker.description|markdownify }}
            </div>

            {% for presentation in speaker.presentations.all %}
                {% if presentation.type == 5 %} {# Keynote talk #}
                <div class="keynote__wrapper">
                    <h4 class="speaker__presentation">{{ presentation.title }}</h4>
                    <p>{{ presentation.description|markdownify }}</p>
                </div>
                {% elif presentation.type == 10 %} {# Normal talk #}
                <div class="talk__wrapper">
                    <h4 class="speaker__presentation">{{ presentation.title }}</h4>
                    <p>{{ presentation.description|markdownify }}</p>
                </div>
                {% elif presentation.type == 15 %} {# Workshop #}
                <div class="workshop__wrapper">
                    <h4 class="speaker__presentation">{{ presentation.title }}</h4>
                    <p>{{ presentation.description|markdownify }}</p>
                </div>
                {% endif %}
            {% endfor %}

            <div class="social__links">
                {% if speaker.personal_website %}
                <a href="{{ speaker.personal_website }}" class="website" target="_ blank"></a>
                {% endif %}
                {% if speaker.github %}
                    <a href="{{ speaker.github }}" class="github" target="_ blank"></a>
                {% endif %}
                {% if speaker.linkedin %}
                    <a href="{{ speaker.linkedin }}" class="linkedin" target="_ blank"></a>
                {% endif %}
                {% if speaker.twitter %}
                    <a href="{{ speaker.twitter }}" class="twitter" target="_ blank"></a>
                {% endif %}
                {% if speaker.facebook %}
                    <a href="{{ speaker.facebook }}" class="facebook" target="_ blank"></a>
                {% endif %}
            </div>

            <div class="previous__talks">
                <h4>Previous talks</h4>
                {% for video_item in speaker.videos.all %}
                <div class="iframe__wrapper">
                    {% video video_item.video "small" %}
                </div>
                {% empty %}
                No previous talks.
                {%endfor %}
            </div>
        </div>
    </div>

{% endblock %}
