{% extends "base.html" %}

{% block main_content %}

{# Speakers #}

    <h1 class="title title--yellow mb-xs-20">Speakers</h1>

    <p>
        We love Python because it’s a high-level language that creates elegant solutions to intricate problems.
        Right now, it's really popular with data scientists and startups. The reason why is simple, you can do a
        lot of amazing things with it. Some of them include data analysis, machine learning, robotics, web and game
        development, and, also, hardware ex. It’s the language of the future.
    </p>

    {% if speakers %}
        <div class="card">
            {% for speaker in speakers %}
            <div class="speaker" id="{{ speaker.slug }}">
                <div class="speaker__image">
                    <a href="{% url 'speaker_detail' slug=speaker.slug %}">
                        <img src="{{ speaker.images.first.profile_picture.url }}">
                    </a>
                </div>
                <div class="speaker__details">
                    <a href="{% url 'speaker_detail' slug=speaker.slug %}" class="speaker__link">
                        <h2 class="speaker__name">
                        {% if speaker.keynote %}<i class="fas fa-star"></i>{% endif %}
                        {{ speaker.name }}
                        {% if speaker.country %}
                            <i class="flag em em-flag-{{ speaker.country.code|lower }}"></i>
                        {% endif %}
                        </h2>
                    </a>
                    <h3 class="speaker__job"> {{ speaker.job }} {% if speaker.company %}- {{ speaker.company }}{% endif %}</h3>
                    {% for presentation in speaker.presentation.all %}
                        <h4 class="speaker__presentation">{{ presentation.title }}</h4>
                        <br>
                        <a class="button button--blue speaker__button" href="{% url 'speaker_detail' slug=speaker.slug %}" role="button">
                            More
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="coming-soon">
            Coming Soon
        </h2>
    {% endif %}
{% endblock %}
