{% extends "base.html" %}

{% block main_content %}

{# Speakers #}

    <h1 class="centered">Speakers</h1>
    <hr class="line line__centered">

    {% if speakers %}
        <div class="card">
            {% for speaker in speakers %}
            <div class="speaker">
                <div class="speaker__image">
                    <a href="{% url 'speaker_detail' slug=speaker.slug %}">
                        <img src="{{ speaker.images.first.profile_picture.url }}">
                    </a>
                </div>
                <div class="speaker__details">
                    <a href="{% url 'speaker_detail' slug=speaker.slug %}"><h1>
                        {% if speaker.keynote %}<i class="fas fa-star"></i>{% endif %}
                        {{ speaker.name }}
                        {% if speaker.country %}
                            <i class="flag em em-flag-{{ speaker.country.code|lower }}"></i>
                        {% endif %}
                        , <span class="title-white"> {{ speaker.job }} {% if speaker.company %}- {{ speaker.company }}{% endif %}</span>
                    </h1></a>
                    {% for presentation in speaker.presentation.all %}
                        <h2>{{ presentation.title }}</h2>
                        <br>
                        <a class="button button--yellow" href="{% url 'speaker_detail' slug=speaker.slug %}" role="button">
                            View more
                        </a>
                    {% endfor %}
                </div>
            </div>
            <hr class="line long">
            {% endfor %}
        </div>
    {% else %}
        <h2>
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}
{% endblock %}
