{% extends "base.html" %}

{% block main_content %}

    {# Sponsors #}
<div class="catch centered">
  <h1 class="title title--white">Excepteur occaeuiecat cupidatat</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum. Phasellus condimentum congue sem et elementum.</p>
</div>
    <h1 class="title title--medium title--yellow">Keynote Speakers</h1>

        <div class="keynote-list">
                <div class="keynote__item">
                        <div class="card__image" style="display: inline-block;">
                            <img src="">
                        </div>
			<div class="card__info">
                        <h2 class="card__name title--white">
                           Name Surname
                        </h2>
		    <hr class="line line--blue line--short line--spaced" />
                        <h1 class="title--blue">
                           Job title
                        </h1>
			</div>
                </div>
		<div class="keynote__item">
                        <div class="card__image" style="display: inline-block;">
                            <img src="">
                        </div>
			<div class="card__info">
                        <h2 class="card__name title--white">
                           Name Surname 
                        </h2>
		    <hr class="line line--blue line--short line--spaced" />
                        <h1 class="title--blue">
                           Job title 
                        </h1>
			</div>
                </div>
		<div style="position: relative;"><a style="position: absolute; bottom: 0;" class="button button--yellow" href="/" role="button">More</a></div>
        </div>

		<div style="margin: 45px 0;"><a class="button button--blue" href="/" role="button">Buy tickets</a></div>

    <h1 class="title title--smallmarginbottom title--yellow centered">Powered By</h1>
    <p class="title--yellow centered">Helping to make this event happening</p>


    <h1 class="title title--smallmarginbottom title--bigmargintop title--blue centered">Keystone</h1>
    <div class="sponsor-list">
    <div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
    </div>

<h1 class="title title--smallmarginbottom title--bigmargintop title--blue centered">Platinum</h1>
    <div class="sponsor-list">
    <div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
<div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
<div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
    </div>

<h1 class="title title--smallmarginbottom title--bigmargintop title--blue centered">Gold</h1>
    <div class="sponsor-list">
    <div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
<div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
<div class="sponsor">
      <h2 class="title title--medium title--smallmarginbottom title--yellow centered">#1 Sponsor</h2>
      <img src="http://via.placeholder.com/350x150">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum congue sem et elementum.</p>
    </div>
    </div>
    
        <h2 class="title title--white title--medium title--uppercase mt-xs-20 mb-xs-80">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
	{% endblock %}
