{% extends "base.html" %}

{% block main_content %}

{# Sponsors #}

    <h1 class="centered">Meet our sponsors</h1>
    <p class="centered">They made this possible!</p>

    {% if keystone_sponsors %}
    <hr class="line long">
    <h2 class="keystone">Keystone</h2>
    <hr class="line line__centered">

    <div class="card card__centered">
        {% for sponsor in keystone_sponsors %}
            <div class="card__item">
                <a href="{% url 'sponsor_detail' id=sponsor.id %}">
                    <div class="card__image">
                            <img src="{{ sponsor.logo.url }}">
                    </div>
                    <h2 class="centered">
                        {{ sponsor.name }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if platinum_sponsors %}
    <hr class="line long">
    <h2 class="platinum">Platinum</h2>
    <hr class="line line__centered">

    <div class="card card__centered">
        {% for sponsor in platinum_sponsors %}
            <div class="card__item">
                <a href="{% url 'sponsor_detail' id=sponsor.id %}">
                    <div class="card__image">
                            <img src="{{ sponsor.logo.url }}">
                    </div>
                    <h2 class="centered">
                        {{ sponsor.name }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if gold_sponsors %}
    <hr class="line long">
    <h2 class="gold">Gold</h2>
    <hr class="line line__centered">

    <div class="card card__centered">
        {% for sponsor in gold_sponsors %}
            <div class="card__item">
                <a href="{% url 'sponsor_detail' id=sponsor.id %}">
                    <div class="card__image">
                            <img src="{{ sponsor.logo.url }}">
                    </div>
                    <h2 class="centered">
                        {{ sponsor.name }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if silver_sponsors %}
    <hr class="line long">
    <h2 class="silver">Silver</h2>
    <hr class="line line__centered">

    <div class="card card__centered">
        {% for sponsor in silver_sponsors %}
            <div class="card__item">
                <a href="{% url 'sponsor_detail' id=sponsor.id %}">
                    <div class="card__image">
                            <img src="{{ sponsor.logo.url }}">
                    </div>
                    <h2 class="centered">
                        {{ sponsor.name }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if partners %}
    <hr class="line long">
    <h2 class="partner">Partners</h2>
    <hr class="line line__centered">

    <div class="card card__centered">
        {% for sponsor in partners %}
            <div class="card__item">
                <a href="{% url 'sponsor_detail' id=sponsor.id %}">
                    <div class="card__image">
                            <img src="{{ sponsor.logo.url }}">
                    </div>
                    <h2 class="centered">
                        {{ sponsor.name }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <hr class="line long">


{% endblock %}