* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%; /* 16px * 62.5%: Base 10 font sizing (i.e. 1.0rem == 10px ) */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    background-color: white;
    color: #343C3E;
}

a {
    color: #ffd64f;
    text-decoration: none;
}

a:hover {
    color: #28aae1;
}

p {
    color: #666666;
    margin-bottom: 20px;
}
.centered {
    text-align: center;
}

.logo {
    grid-area: logo;
    background-image: url(/static/img/pycon-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #bgVideo {
      width: 100%;
      height: auto; /* actually taller than viewport */
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #bgVideo {
      width: auto; /* actually wider than viewport */
      height: 100%;
    }
  }