* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%; /* 16px * 62.5%: Base 10 font sizing (i.e. 1.0rem == 10px ) */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    background-color: white;
    color: #666;
}

a {
    color: #28AAE1;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    color: #666666;
    margin-bottom: 20px;
}

ul {
    display: block;
    list-style-type: square;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ul li {
    display: list-item;
}

.centered {
    text-align: center;
}

.logo {
    grid-area: logo;
    background-image: url(/static/img/pycon-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.coming-soon {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #666;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
}

.content-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding-bottom: 20px;
    overflow: hidden;
}

.cfp_btn {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #ffd64f;
    color: #313b3d;
    font-size: 1.4rem;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
}

.cfp_btn:hover {
    background-color: #313b3d;
    color: white;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #bgVideo {
      width: 100%;
      height: auto; /* actually taller than viewport */
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #bgVideo {
      width: auto; /* actually wider than viewport */
      height: 100%;
    }
  }