{% extends "base.html" %}

{% block main_content %}

    {# Organizers #}

    <h1 class="title title--yellow">Organizers</h1>
    <hr class="line line--blue line--short line--spaced">

    {% if organizers %}
        <div class="card">
            {% for organizer in organizers %}
                <div class="card__item">
                    <a href="{% url 'organizer_detail' slug=organizer.slug %}">
                        <div class="card__image">
                            <img src="{{ organizer.images.first.profile_picture.url }}">
                        </div>
                        <h2 class="card__name title--blue">
                            {{ organizer.name }}
                        </h2>
                    </a>
                    {% if organizer.job %}
                        <p class="card__job">
                            {{ organizer.job }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-20 mb-xs-80">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}

    {# Volunteers #}

    <h1 class="title title--yellow">Volunteers</h1>
    <hr class="line line--blue line--short line--spaced">

    {% if volunteers %}
        <div class="card">
            {% for volunteer in volunteers %}
                <div class="card__item">
                    <div class="card__image">
                        <img src="{{ volunteer.images.first.profile_picture.url }}">
                    </div>
                    <h2 class="card__name title--blue">
                        {{ volunteer.name }}
                    </h2>
                    {% if organizer.job %}
                        <p class="card__job">
                            {{ volunteer.job }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-20">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}

{% endblock %}
