{% extends "base.html" %}

{% block main_content %}

<!-- Main Content -->

    <div class="col-xl-6 offset-1">
        <div class="moveDown">
            <h1 class="font900 font-yellow">Organizers</h1>
        </div>

        {% if organizers %}
            <div class="card-deck moveDown">
                <div class="card">
                    <div class="row">
                        {% for organizer in organizers %}
                            <div class="col-sm">
                                <img src="{{ organizer.images.first.profile_picture }}" class="rounded-circle">
                                <ul class="card-body h-100 justify-content-center">
                                    <li><b>{{ organizer.name }}</b></li>
                                    <hr>
                                    <li>{{ organizer.job }}</li>
                                    {% if organizer.user %}
                                        <li>{{ organizer.user.email }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="white">
                <span class="blue">C</span>OMING <span class="yellow">S</span>OON
            </div>
        {% endif %}

        <div class="moveDown">
            <h1 class="font900 font-yellow">Volunteers</h1>
        </div>

        {% if volunteers %}
            <div class="card-deck moveDown">
                <div class="card">
                    <div class="row">
                        {% for volunteer in volunteers %}
                            <div class="col-sm">
                                <img src="{{ volunteer.images.first.profile_picture }}">
                                <ul class="card-body h-100 justify-content-center">
                                    <li><b>{{ volunteer.name }}</b></li>
                                    <hr>
                                    <li>{{ volunteer.job }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="white">
                <span class="blue">C</span>OMING <span class="yellow">S</span>OON
            </div>
        {% endif %}


{#        <div class="moveDown">#}
{#            <a class="btn btn-secondary btn-md round" href="#" role="button" id="seeMore"><b>See More</b></a>#}
{#            <a class="btn btn-primary btn-md round" href="#" role="button" id="attend"><b>Attend</b></a>#}
{#        </div>#}
    </div>


    <!-- END of Main Content -->

{% endblock %}