{% extends "base.html" %}

{% load static %}
{% load markdownify %}

{% block main_content %}

	{# Faq #}

    <h1>F.A.Q - Frequently Asked Questions</h1>

	{% if faq %}
		<div class="row">
			<div class="column">
				{% for item in faq %}
					<button class="accordion">{{ item.question }}<a style="margin-left:10px; float:right;" class="headerlink" href="#faq-{{ item.id}}" title="Permalink to this speaker">¶</a>
                    </button>
                    <div class="panel">
						<p>{{ item.answer | markdownify}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<h2 class="coming-soon">
			Coming Soon
		</h2>
	{% endif %}


	{% if response_guide %}
		<a href="{% url 'response_guide' slug=response_guide.slug %}">
			<h1>{{ response_guide.title|safe }}</h1>
		</a>
	{% endif %}

{% endblock %}

{% block scripts %}
	<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}
