{% extends "base.html" %}
{% load static %}

{% block main_content %}

<link rel="stylesheet" href="{% static 'css/timetablejs.css' %}">
<script src="{% static 'js/timetable.js' %}" type="text/javascript"></script>

<div id="dates-wrapper">
{% for date in dates %}
    {%  with i=forloop.counter %}
    <button class="day-select" data-day="day-{{ i }}"><p>{{ date|date:"l" }}</p> {{ date|date:"j-n-Y" }}</button>
    {% endwith %}
{% endfor %}
</div>

<div class="timetable"></div>
<script>

    var timetable = new Timetable();
    var rooms = [];
    {%  for room in rooms %}
        rooms.push('{{ room.name }}');
    {% endfor %}
    timetable.addLocations(rooms);

    {% for date, slots in slots_by_date.items %}
        {%  with i=forloop.counter %}
        {% for slot in slots %}

            timetable.addEvent(
                '{{ slot.talk.title }}',
                '{{ slot.room.name }}',
                new Date({{ slot.from_date|date:"Y,n-1,j,H,i"}}),
                new Date({{ slot.to_date|date:"Y,n-1,j,H,i"}}),
                {
                  url: {% if slot.talk.speaker %}'/speaker/{{ slot.talk.slugify_speaker }}/#{{ slot.talk.slugify }}'{% else %}'#'{% endif %}, // makes the event clickable
                  class: 'day-{{ i }}', // additional css class
                  data: { // each property will be added to the data-* attributes of the DOM node for this event
                    day: '{{ slot.from_date|date:"Y-n-j" }}',
                    description: '{{ slot.talk.description | linebreaksbr }}',
                  },
                  onClick: function(event, timetable, clickEvent) {},
                }
            );

        {% endfor %}
        {% endwith %}
        var renderer = new Timetable.Renderer(timetable);
        renderer.draw('.timetable');

    {% endfor %}
</script>

{% endblock main_content %}

{% block scripts %}
    <script>
    $(window).ready(function() {
        $(".time-entry").hide();
        $(".day-1").show();
        $(".day-select:first").addClass('selected-day');
        $("button").click(function(e){
            $(".time-entry").hide();
            $(".day-select").removeClass('selected-day');
            var cl = $(this).data('day');
            $('.'+cl).show();
            $(this).addClass('selected-day');
        });
    });
    </script>
{% endblock %}