{% load static %}

<aside class="event-sidebar">
    <img class="event-sidebar__logo" src="{% static 'img/pycon_logo.png' %}">
    <div class="event-sidebar__title">
        <h1>PyCon</h1>
        <h2>Balkan</h2>
        <h3>Belgrade 2018</h3>
    </div>
    <hr class="line line--blue line--short line--spaced">
    <h1 class="title title--yellow">#1</h1>
    <p class="event-sidebar__text">
        Hilton Belgrade - Kralja Milana 35, Beograd
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon far fa-calendar-alt"></i>
        Nov. 16, 2018 - Nov. 18, 2018
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon fas fa-users"></i>
        500 attendees
    </p>
    <p class="event-sidebar__text">
        <i class="event-sidebar__icon fas fa-globe"></i>
        International
    </p>
</aside>
