{% load static %}
{% load startswith %}

<header class="menu__header">
    <nav class="menu">
        <div class="mobile-button"></div>
        <ul class="menu__list">
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/' %}active{% endif %}" href="/#" role="button">Home</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/speakers' %}active{% endif %} dropdown" href="#">Speakers</a>

                <div class="dropdown-menu">
                    <div class="menu__list__search"><form id="menu__search__speakers" action="{% url 'speaker_detail' %}" method="get">{{ search_speakers }}</form></div>
                    {% for conf in current_conferences %}
                    <a class="menu__list__link" href="{% url 'speakers' conf.year %}">PyCon{{ conf.year }} Speakers</a>
                    {% endfor %}
                </div>

            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/about' %}active{% endif %} dropdown" href="#">Info &nbsp;</a>

                <div class="dropdown-menu">
                    <a href="{% url 'venue' %}">Venue</a>
                    <a href="{% url 'about' %}">About Us</a>
					<a href="{% url 'faq' %}">F.A.Q</a>
                    <a href="{% url 'organizers' %}">Organizers</a>
                    <a href="{% url 'sponsorship' %}">Sponsorship</a>
                    <a href="{% url 'coc' %}">CoC</a>
                    <a href="{% url 'cfp' %}">CFP</a>
                </div>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/timetable' %}active{% endif %}" href="{% url 'timetable' %}" role="button">Timetable</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link dropdown" href="#">On-Site Events</a>
                <div class="dropdown-menu">
                    <a href="{% url 'lightning-talks' %}">Lightning Talks</a>
                    <a href="{% url 'open-spaces' %}">Open Spaces</a>
                </div>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/news' %}active{% endif %}" href="{% url 'news' %}" role="button">News</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/contact' %}active{% endif %}" href="{% url 'contact' %}" role="button">Contact</a>
            </li>
            {% comment %}

            Kole 7:54 PM
            remove the recap menu item until we fix that page

            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path|startswith:'/archive' %}active{% endif %} dropdown" href="#">Recap</a>

                <div class="dropdown-menu">
                    {% for conf in previous_conferences %}
                    <a href="{% url 'archive_detail' year=conf.year %}">PyCon {{ conf.year }} Recap</a>
                    {% endfor %}
                </div>
            </li>
            {% endcomment %}
        </ul>
    </nav>
</header>

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/menu.js' %}" type="text/javascript"></script>
{% endblock %}
