{% load static %}

<header>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/' %}active{% endif %}" href="/#" role="button">Home</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/organizers' %}active{% endif %}" href="/organizers" role="button">Organizers</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/coc' %}active{% endif %}" href="/coc" role="button">CoC</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/about' %}active{% endif %}" href="/about" role="button">About Us</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/cfp' %}active{% endif %}" href="/cfp" role="button">CFP</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link {% if request.path == '/contact' %}active{% endif %}" href="/contact" role="button">Contact</a>
            </li>
            <li class="menu__list__item">
                <a class="menu__list__link menu__list__link--featured" href="https://www.eventbrite.com/e/pycon-balkan-tickets-45876685401?ref=ebtnebtckt"
                    target="_blank" role="button">Buy Tickets</a>
            </li>
        </ul>
    </nav>
</header>
