/*
 * Padding and margin helpers.
 */

/* Margin top */

.mt-xs-20 {
    margin-top: 20px;
}

.mt-xs-40 {
    margin-top: 40px;
}

/* Margin bottom */

.mb-xs-20 {
    margin-bottom: 20px;
}

.mb-xs-40 {
    margin-bottom: 40px;
}

.mb-xs-80 {
    margin-bottom: 80px;
}
