/*
 * Padding and margin helpers.
 */

/* Margin top */

.mt-xs-15 {
    margin-top: 15px;
}

.mt-xs-20 {
    margin-top: 20px;
}

/* Margin bottom */

.mb-xs-15 {
    margin-bottom: 15px;
}

.mb-xs-30 {
    margin-bottom: 30px;
}

.mb-xs-50 {
    margin-bottom: 50px;
}
