{% extends "base.html" %}

{% load static %}

{% block main_content %}

   {# About #}

    <h1 class="title title--yellow mb-xs-20">About Us</h1>
    {% if about %}
        <div class="column">
            <p>
                 {{ about.description|safe }}
            </p>
        </div>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-20 mb-xs-80">
            Coming Soon
        </h2>
    {% endif %}


    {% if response_guide %}
    <a href="{% url 'response_guide' slug=response_guide.slug %}">
        <h1>{{ response_guide.title|safe }}</h1>
    </a>
    {% endif %}

{% endblock %}
