{% extends "base.html" %}

{% load static %}

{% block main_content %}

   {# About #}

    {% if about %}
        <h1 class="title title--yellow mb-xs-20">{{ about.title|safe }}</h1>
        <hr class="line line--blue line--short line--spaced">
        <p>
             {{ about.description|safe }}
        </p>
    {% else %}
        <h2 class="title title--white title--medium title--uppercase mt-xs-20 mb-xs-80">
            <span class="featured-letter featured-letter--blue">C</span>oming <span class="featured-letter featured-letter--yellow">S</span>oon
        </h2>
    {% endif %}


    {% if response_guide %}
    <a href="{% url 'response_guide' slug=response_guide.slug %}">
        <h1>{{ response_guide.title|safe }}</h1>
    </a>
    {% endif %}

{% endblock %}
