{% extends "base.html" %}

{% load static %}

{% block main_content %}

   {# Django Girls #}

    <h1 class="title title--yellow mb-xs-20" href="https://djangogirls.org/pyconbalkan/">Django Girls PyCon Balkan</h1>

    <hr class="line line--blue line--short line--spaced">

    <h2 centered title title--white title--medium title--uppercase mt-xs-20 mb-xs-80>Free programming workshop for women Build your first website at Django Girls PyCon Balkan!</h2>

    </br>
    <p>
         We believe the IT industry will greatly benefit from bringing more women into technology. We want to give you an opportunity to learn how to program and become one of us – women programmers!

         Workshops are free of charge and if you cannot afford coming to Belgrade but are very motivated to learn and then share your knowledge with others, we may have some funds to help you out with your travel costs and accommodation. The applications will be oppened soon! Stay tuned!
    </p>
    <div class="card">
        <a class="menu__list__link menu__list__link--featured" href="https://djangogirls.org/pyconbalkan/"
        target="_blank" role="button">Django Girls PyCon Balkan Website</a>
    </div>

    <hr class="line long">

    <h2 title title--white title--medium title--uppercase mt-xs-20 mb-xs-80>Applications are now open ❤</h2>
    <p>
        Application process closes on <b>October 16th</b> and you'll be informed about acceptance or rejection by the end of October(or sooner)!
    </p>

    <div class="card">
        <a class="menu__list__link menu__list__link--featured" href="https://djangogirls.org/pyconbalkan/apply/"
        target="_blank" role="button">Apply here!</a>
    </div>

    <hr class="line long">

    <h2 title title--white title--medium title--uppercase mt-xs-20 mb-xs-80>Be a Mentor</h2>

    <p>
        We would be delighted if you would like to join us as a mentor! Fill the form below if you're interested.
    </p>
    <div class="card">
        <a class="menu__list__link menu__list__link--featured" href="https://docs.google.com/forms/d/e/1FAIpQLSebbvAdGGy1XhBcQPcdyejwjfGBBk3GU144b7_ZJJJgfOxPfw/viewform"
        target="_blank" role="button">I want to be a Coach!</a>
    </div>

    <hr class="line long">

    <h2 title title--white title--medium title--uppercase mt-xs-20 mb-xs-80>Call For Sponsors</h2>

    <p>
        We couldn't be here without the support from amazing people and organizations who donated money, knowledge and time to help us make this a reality. If you want to contribute and support our goal, please send us an email to pyconbalkan@djangogirls.org
    </p>

    <div class="card">
        <a class="menu__list__link menu__list__link--featured" href="https://speakerdeck.com/katiayn/django-girls-pycon-balkan-call-for-sponsors"
        target="_blank" role="button">Call for Sponsors!</a>
    </div>







{% endblock %}
